*
{
	/*outline: 1px dashed #CC0000;*/
}

/*-----------------*/

body
{
}

h1, h2, h3, h4
{
	margin-bottom: 8px;
}

pre strong
{
	color: #286cad;
}
/*-------------------------- Clases */
.info_block
{
	color:#888;
	font-size: 11px;
	font-style: italic;
	line-height: 15px;
}


.user-avatar
{
	width: 200px;
	font-size: 11px;
	padding: 8px 10px !important;
}

.user-avatar p
{
	font-size: 11px;
	padding: 1px;
	margin: 0;
	line-height: 12px;
}

div.img-avatar-mini, span.img-avatar-mini
{
	height: 28px;
	width: 28px;
	overflow: hidden;
	border-radius: 4px;
	display: inline-block;
	float: left;
	text-align: center;
}
img.img-avatar-mini
{
	width: 28px;
	border-radius: 4px;
	margin-right: 5px;
}

.editable
{
	background: #fffdc4;
}
.content
{
	padding: 15px;
}
/*------------------------------------------------------------------ Login Box */
.login-box
{
	height: 80px;
	width: 150px;
	position: absolute;
}