/*------------------------------------------------eddy*/
#eddy-nav-x{font-size: 14px;background: #9A1558; font-weight: bold;position: relative;}
#eddy-nav-x ul{list-style: none;margin: 0;}
#eddy-nav-x ul li{float: left;margin: 5px 6px 0px 6px;}
#eddy-nav-x ul li a{display: block;color: #D2D1D1;/*padding: 10px 18px;*/padding: 6px 8px 10px 8px;}
#eddy-nav-x ul li a:hover, #eddy-nav-x ul li a.active{background: #3B0D25;color: #ffffff; text-decoration: none;}
#eddy-nav-x ul:after, .eddy-cols:after, .eddy-cols-x:after ,.navegacion-line:after {clear: both;content: " ";display: block;}
.eddy-aux{	width: 992px;margin: auto;}
.eddy-cont{background: #FFF;border: 1px solid #D0D1D1;padding:12px 0 ;}
.eddy-box-1, .eddy-panel-y{padding: 0 12px 12px;}
.eddy-box-2, .eddy-panel-z, .eddy-panel-y, .eddy-panel-x{padding: 12px;}
.eddy-padd-1{padding: 0 12px;}
.eddy-padd-2{padding: 12px;}
.eddy-padd-3,.aviso-x{padding: 6px;}
.eddy-col-1{width: 15.7%;}
.eddy-col-2{width: 79.7%;}
.eddy-col-3{width: 32.06%;}
.eddy-col-4{width: 14.78%;}
/*.eddy-col-5{width: 22%;}*/
/*.eddy-col-6{width: 47.9%;}*/
.eddy-col-6{width: 47.5%;}
.eddy-col-7{width: 31.09%;}
.eddy-col-8{width: 23.49%;}
.eddy-col-9{width: 72.03%;}
/*.eddy-colr{float: right;}*/
.feat-ttl{font-size: 14px !important;}
.aviso-x{font-size: 12px;position: relative;
    -webkit-box-shadow:  0 1px 5px rgba(194, 146, 165, 1);
    -moz-box-shadow:  0 1px 5px rgba(194, 146, 165, 1);
    box-shadow: 0 1px 5px rgba(194, 146, 165, 1);
}
.aviso-x .ttl{font-size: 18px;color: #670033;border-top:0; font-weight: bold;}
.aviso-x .puntero{top: -2px;right: -3px; position: absolute;}
.aviso-x p{border-top: 1px solid #E6E6E7;padding-top: 3px; line-height: 15px;}
/*.eddy-col-1,.eddy-col-4,.eddy-col-2,.eddy-col-3,.eddy-col-5,.eddy-col-6{float: left; margin: 0 0.9%;}*/
.eddy-col-4,.eddy-col-3,.eddy-col-1,.eddy-col-2,.eddy-col-5,.eddy-col-6,.eddy-col-7,.eddy-col-8,.eddy-col-0,.eddy-col-9{float: left; margin: 0 1.12%;}
.btn-feat-x{position: absolute;bottom: 0;right: 0;}
.feat-posc-x, .eddy-panel-y .fech .eddy-padd-2{position: absolute;bottom: 0;right: 0;}
.feat-panel-x{color: #670033;font-weight: bold;font-size: 14px;}
/*cols eddy-cols y eddy-cols-x->sin margen negativo*/
.eddy-cols{margin: 0 -1.12%;}
/*------------------------*/
.row-feat-x,.feat-tbl-x, .feat-tbl-y,.feat-panel-x{margin-bottom: 15px !important;}
.feat-tbl-x .eddy-col-3{margin-top: 1.3px;}
.feat-tbl-x{line-height: 29px;margin: 0 4.2%;}
.feat-tbl-w{margin: 0 4.2% 20px;}
.feat-tbl-z .eddy-col-3{margin-right: 4%;}
.feat-tbl-y{margin-left: 13%; margin-right:4.2%;line-height: 29px;}
.eddy-tbl-1 .eddy-col-4, .eddy-tbl-1 .eddy-col-3{margin: 0 0.79%;}
.eddy-tbl-1 .eddy-cols{margin: 0 -0.79%;}
.eddy-tbl-1{position: relative;}
.eddy-tbl-1 .sig{color: #E49D3E;}
.eddy-tbl-1 .eddy-col-1,.eddy-tbl-1 .eddy-col-4,.eddy-tbl-1 .eddy-col-0{text-align: right; font-size: 12px;}
.eddy-tbl-1 .eddy-col-3, .eddy-tbl-1 .user{font-size: 11px;color: #6C6A6A;}
.eddy-tbl-1 input[type=text],.eddy-tbl-2 input[type=text]{height: 16px; width: 94.5%;}
.eddy-tbl-1 input[type=radio]{margin-left: 10px;}
.eddy-tbl-1 .fech input[type=text]{width: 19.7%;}
.eddy-tbl-1 .telf {margin: 0 -3px;}
.eddy-tbl-1 .cuenta input[type=text]{margin: 0 1.49%}
.eddy-tbl-1 .cuenta{margin: 0 -1.5%}
.eddy-tbl-1 .n_1{width: 12.7% !important;}
.eddy-tbl-1 .n_2{width: 6.3% !important;}
.eddy-tbl-1 .n_3{width: 37% !important;}
.eddy-tbl-1 .doble-ln {line-height: 15px;margin-right: 1px;padding-right: 4px;position: relative;}
.eddy-tbl-1 .doble-ln .sig{position: absolute; right: 0;}
.eddy-tbl-1 .telf input[type=text]{width: 42.2%; margin: 0 3px;}
.eddy-tbl-1 select{height: 18px;width: 100%;}
.eddy-tbl-1 textarea{width: 98.5%;}
.eddy-tbl-1 input[type=text], .eddy-tbl-2 input[type=text], .eddy-tbl-1 select,.eddy-panel-x select{padding: 0px 5px;font-size: 11px;margin: 0;}
.eddy-panel-x{background:#EDEDED; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}
.eddy-panel-x select{height: 18px;}
.eddy-panel-z{background:#FDFDEB; -moz-border-radius: 9px; -webkit-border-radius: 9px; border-radius: 9px; border: 2px solid #ECD329;}
.eddy-panel-y{padding-top: 12px; font-size: 12px;color: #636363;}
.eddy-panel-y .ttl{letter-spacing: -0.6px;font-weight: bold;height: 73px;margin-bottom: 10px;}
.eddy-panel-y .cont{position: relative;}
.eddy-panel-y .cont .feat-posc-x{bottom: -6px;}
.eddy-panel-y .cont .eddy-col-1{padding-left: 12px;margin-right: 8.29%;}
.eddy-panel-y .ttl2{padding-bottom: 5px;border-bottom: 1px solid #CDCECF;padding-top: 12px;font-weight: bold;margin-bottom: 10px;}
.eddy-panel-y .ttl2 .fisrt{padding-right: 56px;}
.eddy-panel-y .fech{border: 1px solid #CDCECF; font-weight: bold;position: relative;color: #929292;}
.eddy-panel-y .fech .eddy-padd-2{color: #8A170C;}
.eddy-panel-y .ttl p{font-size: 14px;}
.eddy-panel-y .prec{color: #636363;}
.eddy-panel-y .eddy-col-8 img{width: 100%; overflow: hidden;}

.eddy-btn-x{
    background-color: #FCFD3A;
    background-image: -moz-linear-gradient(top,#FCFD3A,#808A00);
    background-image: -webkit-linear-gradient(top,#FCFD3A,#808A00);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FCFD3A),color-stop(1,#808A00));
    background-image: linear-gradient(top,#FCFD3A,#808A00);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #033237;
    cursor: pointer;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.54;
    padding: 1px 14px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.08);
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #D7E900;
    -webkit-box-shadow:  0 1px 4px rgba(145, 145, 145, 1);
    -moz-box-shadow:  0 1px 4px rgba(145, 145, 145, 1);
    box-shadow: 0 1px 4px rgba(145, 145, 145, 1);
}
a.eddy-btn-x {text-decoration: none;}
.eddy-btn-x:hover, .eddy-btn-x:focus {    background-color: #02272D;    background-image: -moz-linear-gradient(top,#FBFC31,#B6C038);    background-image: -webkit-linear-gradient(top,#FBFC31,#B6C038);    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FBFC31),color-stop(1,#B6C038));    background-image: linear-gradient(top,#FBFC31,#B6C038);}
.eddy-alig-r{text-align: right;}
.alert-x{font-size: 12px; color: #A9A9A9;}
.alert-x .sig{color: #E49D3E;}
.links_nav{border: 1px solid #CDCECF; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.links_nav a{border-top: 1px solid #CDCECF;display: block; color: #646464;font-size: 14px;padding: 5px;}
.links_nav a.first{border-top:none;}
.links_nav .sub{padding-left: 23px;}
.links_nav .sub a{border: 0;padding: 5px 0 !important;}
.links_nav .sub a:hover,.links_nav .sub a.active{text-decoration: underline;}
.links_nav a.active{padding-left: 18px;}
.links_nav .active .sig{margin-left: -9px; float: left;}
.links_nav a:hover,.links_nav a.active{color: #680034;text-decoration: none;font-weight: bold;}
.ttl-x{font-size: 18px; background: #670033;padding: 2px 13px;}
.ttl-y{font-size: 14px; background: #930353;padding: 2px 10px;}
.ttl-z{font-size: 14px; color: #930353;border-bottom: 1px solid #930353; position: relative;line-height: 27px;}
.ttl-z .alert-x{font-weight: normal;}
.ttl-x,.ttl-y,.ttl-z{font-weight: bold;}
.ttl-y,.ttl-x{color: #ffffff !important;border-radius: 3px;}
.bord-1{border: 1px solid #CDCECF; -moz-border-radius: 4px;-webkit-border-radius: 4px; border-radius: 4px;}
.bord-2, .eddy-panel-y{border: 1px solid #CDCECF; -moz-border-radius: 8px;-webkit-border-radius: 8px; border-radius: 8px;}

/*----------------------------------------------------------adiccional eddy*/
#c_home .eddy-aux{}
.block_header .eddy-aux{margin-top: 5px; margin-bottom: 5px; position: relative;}
.bar_user .eddy-cols, .block_header .eddy-cols{margin-right: 0;}
.cond_general{font-size: 11px; color: #6B6B6B;}
.cond_general input[type=checkbox]{margin-right: 5px;}
#c_comercio h3, .eddy-panel-y .ttl{color:#670033;}
.login_cont{    position: relative; margin-bottom: -5px;}
.iframe_comercio iframe{width: 100%;height: 1253px; border: 0;}
