
h1, h2, h3, h4{font-family: Arial;margin-bottom: 8px;color: #06656F;}
pre strong{	color: #286cad;}
/*******************/
/*------------------------------------------------------ Estilos tiendas */
#c_home .container{border: 1px solid #C5C0C7;}
#c_home .container, #c_offers .container, #c_outlet .container, #c_travel .container, #c_coaching .container, #c_admin .container, #c_village .container{	background: #FFF;}
#c_home .container,#c_comercio .container, #c_offers .container, #c_outlet .container, #c_travel .container, #c_coaching .container, #c_admin .container, #c_offers #content_cesta{    padding-bottom: 26px;}
#c_home .container, #c_offers .container, #c_outlet .container, #c_travel .container, #c_coaching .container,#c_comercio .container, #c_admin .container, #c_offers, #c_village{    border: 1px solid #C2BDC3;}
#c_offers, #c_outlet, #c_travel, #c_coaching, #c_village, #c_comercio, #c_bussiness,  #c_home{padding-top: 6px;}
#c_offers{background-image: url(../img/offers/back_offers.jpg);}
#c_village{background-image: url(../img/village/back_village.jpg);}
#c_outlet{background-image: url(../img/outlet/back_outlet.jpg);}
#c_travel{background-image: url(../img/travel/back_travel.jpg);}
#c_coaching{background-image: url(../img/coaching/back_coaching.jpg);}
#c_home, #c_bussiness {background-image: url(../img/home/back_home.jpg);}
#c_comercio{background-image: url(../img/comercio/bg_body.jpg);}
/*------------------------obs-------------*/
.container{	width: 992px;margin: 0;}
/*------------------------end-------------*/
/*------------------------------------------------------ End Estilos tiendas */
#footer{/*margin-top: -120px;*/}
#footer .inner-content{	padding-top: 20px;color: #FFF;}
#footer .inner-content p{font-size: 11px !important;}
#main_menu{	margin-top: 45px;}
#main_menu ul{list-style: none;}
#main_menu ul a{    color: #FFF;	font-size: 16px;	font-weight: normal;	text-transform: uppercase;}
#main_menu ul a:hover{color: #000;}
/****************************************************** Clases */
.logo{	    background: url(../img/logo_home.png) no-repeat;
	height: 97px;
	width: 250px;
	text-indent: -900px;
	background-size: 250px;
	margin-top: 20px !important;}
.login_provider{margin-right: 5px;display: block;float:left;}
.label_separador{color: #be2e2f;border-bottom: 2px solid #be2e2f;}
.content{background: #FFF;padding: 10px;}
/*----------------------------------------------------------------- Bloques */


.bar_user{	background: url(../img/bg_barra_top.jpg) top repeat-x;color: #8e8f86; text-align: right;}
.block_info_usuario{	background: url(../img/info_user.png) no-repeat;	width: 520px;	margin-top: 3px;	padding: 1px 7px 0 35px;	font-size: 11px;	height: 20px;text-align: left;}
.bar_user a{color: #AFB1A3;font-size: 12px;}
.oficinavirtual_link{    background: url(../img/bg_oficinavirtual.png) no-repeat scroll 0 0 transparent;    width: 108px;    }
.oficinavirtual_link2{ background: url(../img/bg_oficinavirtual2.png) no-repeat scroll 0 0 transparent !important;}
.login_link{    background: url(../img/logount_btn.png) no-repeat scroll 0 0 transparent;    width: 90px;}
.login_link, .oficinavirtual_link {    color: #FFFFFF !important;    font-size: 12px !important;    font-weight: bold;    height: 30px;    padding-top: 4px;    text-align: center; float:left;margin-right: 11px;}
/*----------------------------------------------------------------- Secciones */
/*head*/
#header .block_header .navegacion-line{	float:right;margin-top: 26px;}
#header .block_header .navegacion-line a{	width:79px;	height:73px;	display:inline-block;	background-repeat:no-repeat;}
#header .block_header .navegacion-line a.n1{background:url(../img/btn_nav_offers.jpg) center top;}
#header .block_header .navegacion-line a.n2{background:url(../img/btn_nav_outlet.jpg) center top;}
#header .block_header .navegacion-line a.n3{background:url(../img/btn_nav_travel.jpg) center top;}
#header .block_header .navegacion-line a.n4{background:url(../img/btn_nav_coaching.jpg) center top;}
#header .block_header .navegacion-line a.n5{background:url(../img/btn_nav_village.jpg) center top;}
#header .block_header .navegacion-line a.n6{background:url(../img/btn_nav_home.jpg) center top;}
#header .block_header .navegacion-line a.active {background-position:center bottom;	background-position:center bottom;}
#header .block_header .selecciona_pais{margin-top: 48px;}
#header .block_header .selecciona_pais #list_paises #a_list_paises{	font-size:11px;	margin:2px 0 !important;	color: #6E6E6E;	text-decoration: none;	outline: none;}
#header .block_header .selecciona_pais #list_paises a img{margin-right: 5px;margin-top: -1px;}
#header .block_header .selecciona_pais .arriba,  #header .block_header .selecciona_pais .abajo{	font-family:verdana;	font-size:20px;	display:block;}
#header .abajo.select-pais-home, #header .abajo.select-pais-travel, #header .abajo.select-pais-coaching{color:#97B206;}
#header .arriba.select-pais-offers, #header .arriba.select-pais-outlet, #header .arriba.select-pais-cesta{color:#670033;}
#header .abajo.select-pais-offers, #header .abajo.select-pais-outlet, #header .arriba.select-pais-home, #header .arriba.select-pais-travel, #header .arriba.select-pais-coaching, #header .abajo.select-pais-cesta {display:none !important;}
/* Ciudadaes */
#cont_desp_cuid {position: absolute; z-index: 10;	width: 798px;	overflow: hidden; margin-left: -9.5%;	background-color: #E8E8E8;	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);	display: none;	padding: 8px;}
.selecciona_pais h3{margin: 0;padding: 0;font-size: 13px;line-height: 15px;}
#desp_ciud_sup ul{list-style: none;	margin: 0;	padding: 0;}
#desp_ciud_sup ul li{	float:left;	width: 196px;	padding: 1px;	margin-bottom: 8px;}
#desp_ciud_sup ul li a{	text-decoration: none;	padding: 5px;	font-size: 14px;	color: #666666;}
#desp_ciud_sup ul li a:hover{background: #97B201;color:#FFF;}
#desp_ciud_sup ul li ul{margin: 5px 0 0 0;}
#desp_ciud_sup ul li ul li{	float: none;}
/*fin head*/
/*logos tiendas*/
.logo-home , .logo-travel, .logo-coaching{	 background: url(../img/logo_home.png) no-repeat;
	height: 97px;
	width: 250px;
	text-indent: -900px;
	background-size: 250px;
	margin-top: 20px !important;}
.logo-offers{background: url(../img/logo_home.png) no-repeat;
	height: 97px;
	width: 250px;
	text-indent: -900px;
	background-size: 250px;
	margin-top: 20px !important;}
.logo-outlet{background: url(../img/logo_home.png) no-repeat;height: 98px !important;}
/*fin lgos tiendas*/
/*menu lineas*/
#container_lineas{height: 38px;}
#container_lineas #pestanas_lineas{    list-style: none;    margin: 0;    padding: 0;    display: table;	background-color: #D8D8D9;    position: absolute;    border: 1px solid #C2BDC3;    border-bottom: 0;}
#container_lineas #pestanas_lineas li {float: left;}
#container_lineas #pestanas_lineas li  a{display: block; font-weight: bold;	font-family: arial;	font-size: 14px;	color: #680034;	padding: 10px 16px;	text-decoration: none;}
#container_lineas #pestanas_lineas li.selected a{	background-color: #ffffff !important;}
#container_lineas #pestanas_lineas li  a:hover{	background-color: #CECACA;}
/*fin menu lineas*/
/* Carrito Permanente */
#content_carrito {bottom: -42px;position: absolute; right: 110px;}
#content_carrito ul{list-style:none;margin-left:0px;}
#content_carrito > ul > li{	float:left;}
#content_carrito ul li.boton01 > a{	width:60px;	height:41px;	background-image:url(../img/carrito/tab01.png);	background-repeat:no-repeat;	display:block;}
#content_carrito ul li.boton01 div{	display: none;	position: absolute;	width: 504px;	background-image: url(../img/carrito/background_carrito.png);	background-repeat: no-repeat;	margin-left: -220px;	margin-top: 25px;	z-index: 150;	background-position: 0 100%;	font-family: verdana;	padding-bottom: 30px;}
#content_carrito ul li.boton01 div > img{	margin-top: -23px;	margin-bottom: 4px;	position:absolute;}
#content_carrito ul li.boton01 div > a#cierre_carrito{	width:49px;	height:41px;	position:absolute;	background-image:url(../img/carrito/cierre_carrito.png);	margin-left: 441px;	margin-top: -31px;}
#content_carrito ul li.boton01 div > span#total{	display:block;	text-align:right;	margin-left:37px;	width: 388px;	border-top: #F2F2F2 solid 1px;	margin-top:1px;	font-size: 14px;	font-weight: bold;	margin-right: 75px;	padding-top: 22px;	color: #5A5A5A;	padding-right: 37px;margin-bottom: 25px;}
#content_carrito ul li.boton01 div > span#tiempo{	display:block;	margin-top: 13px;	font-size: 9px;	margin-left: 25px;	border:0 !important;	text-align:left;}
#content_carrito ul li.boton01 div > span#tiempo img{	margin-right: 5px;	margin-top: -3px;	margin-bottom: 0;}
#content_carrito ul li.boton01 div > a{	margin-right:16px;}
#content_carrito ul li.boton01 div > a#first{margin-left:36px;}
#content_carrito ul li.boton01 div > span#total span{margin-left:12px}
#content_carrito ul li.boton01 div ul{	list-style:none;	margin-left:0px;	padding-left: 37px;	max-height: 246px;	overflow: auto;	width:448px;}
#content_carrito ul li.boton01 div ul li{	display:block;	font-size:11px;	width: 425px;	padding-bottom:9px;	border-bottom: #F2F2F2 solid 1px ;	margin-top:17px;}
#content_carrito ul li.boton01 div ul li:last-child{margin-bottom:0 !important;}
#content_carrito ul li.boton01 div ul li img{	border: 2px solid #858585;	border-radius:2px;	margin-right:10px;}
#content_carrito ul li.boton01 div ul li .descripcion{overflow: hidden;	display: inline-block;	width: 180px;}
#content_carrito ul li.boton01 div ul li .cantidad{float:right;	width: 35px;}
#content_carrito ul li.boton01 div ul li .costo{float:right;margin-left: 38px;width: 35px;}
#content_carrito ul li.boton01 div ul li a{	float:right;	background-image: url(../img/carrito/cierre_li_carrito.jpg);	background-repeat: no-repeat;	width: 19px !important;	height: 17px !important;	margin-bottom: -5px;	margin-left: 28px !important;}
#content_carrito ul li.boton02 a{	width:60px;	height:41px;	background-image:url(../img/carrito/tab02.png);	background-repeat:no-repeat;	display:block;}
#content_carrito ul li.boton03 a{	width:60px;	height:41px;	background-image:url(../img/carrito/tab03.png);	background-repeat:no-repeat;	display:block;}
/* Home */
#colum_produc_a{width: 749px;}
#colum_produc_b{width: 240px;}
#colum_produc_a, #colum_produc_b{float: left;}
#c_home .container #colum_produc_a > ul{	  list-style: none;	  padding-left: 0;	  margin: 0;	  margin-top: 11px;	  display: table;  }
#c_home .container #colum_produc_a > ul > li:first-child{    border:1px solid #C0C1C2;    margin-left: 10px;    width: 726px;    height: 44px;    -moz-box-shadow: 2px 2px 5px #D9D9D9;    -webkit-box-shadow: 2px 2px 5px #D9D9D9;    box-shadow: 2px 2px 5px #D9D9D9;    -moz-border-radius: 5px;    -webkit-border-radius: 5px;    border-radius: 5px;}
#c_home .container #colum_produc_a >  ul > li:first-child a{    width:156px;    height:30px;    margin-left: 561px;}
#c_home  .container #colum_produc_a > ul > li:first-child > img{    height:44px;    position:absolute;    margin-left:10px;}
#c_home .container #colum_produc_a >  ul > li:first-child a img{margin-top:7px;}
#c_home .container #colum_produc_a  > ul .head_offers{background-color:#EF8801;}
#c_home .container #colum_produc_a  > ul .head_outlet{background-color:#812553;}
#c_home .container #colum_produc_a  > ul .head_travel{background-color:#0CA7D5;}
#c_home .container #colum_produc_a  > ul .head_village{background-color:#bd9806;}
#c_home .container #colum_produc_a  > ul .head_coaching{	text-align:left;	background-color: #00736D;	margin-left: 6px;	width: 734px;	height: 53px;}
#c_home .container #colum_produc_a  > ul .head_coaching > img{	position: absolute;	width: 323px !important;}
#content_lista_produc{ margin-top: 10px;}
.lista_productos_general{	list-style: none;	padding: 0;	margin: 0;    display: table;    margin-top: 12px;    width: 749px;}
.lista_productos_general > li{	background-color: #FFFFFF;	border: 1px solid #C0C1C2;	-moz-border-radius: 5px;	-webkit-border-radius: 5px;	border-radius: 5px;    -webkit-box-shadow: 2px 2px 5px #D9D9D9;    -moz-box-shadow: 2px 2px 5px #D9D9D9;    box-shadow: 2px 2px 5px #D9D9D9;	float: left;	margin-bottom: 14px;	margin-left: 10px;	width: 357px;	height: 410px;}
.lista_productos_general.permanentes_general > li{ margin-left: 11px;}
.lista_productos_general.cont_outlet > li{height: 421px;}
.lista_productos_general > li > ul {	padding: 0;	margin: 0;	list-style: none;}
.lista_productos_general > li > ul > li:first-child{	height: 73px;	padding: 0 12px;	padding-top: 7px;	line-height: 20px;	-webkit-border-radius: 4px 4px 0 0;	-moz-border-radius: 4px 4px 0 0;	border-radius: 4px 4px 0 0;	border-bottom: 1px solid #000000;}
.lista_productos_general > li > ul > li.img{	width: 357px;	height: 247px;	overflow: hidden;	line-height: 245px;	vertical-align: middle;}
.lista_productos_general > li > ul > li.img div{text-align: center;}
.lista_productos_general.cont_village > li > ul > li.img span, .lista_productos_general.cont_offers > li > ul > li.img span, .lista_productos_general.cont_outlet > li > ul > li.img span {	background-image: url(../img/border_top_img_offers.png);}
.lista_productos_general.cont_travel > li > ul > li.img span, .lista_productos_general.cont_coaching > li > ul > li.img span {	background-image: url(../img/border_top_img_travel.png);}
 .lista_productos_general.cont_offers > li > ul > li:first-child{	background-color: #FF9F23;	border-color: #B2A089;}
.lista_productos_general.cont_village > li > ul > li:first-child{	background-color: #D4B700;	border-color: #B2A089;}
.lista_productos_general.cont_village .dto{color:#FFF;}
.lista_productos_general.cont_outlet > li > ul > li:first-child{	background-color: #9D456F;	border-color: #9A848F;    height: 54px;    padding-top: 8px;}
.lista_productos_general.cont_travel > li > ul > li:first-child{	background-color: #59C1E1;	border-color: #E0F3F9;}
.lista_productos_general.cont_coaching > li > ul > li:first-child{	background-color: #0DA8A2;	border-color: #D2EFEE;}
.lista_productos_general > li > ul > li:first-child .dto{	color: #fff;	font-weight: bold;	font-size: 23px;    font-family: arial; }
.lista_productos_general > li > ul > li:first-child .dtoc{color: #510229 !important;}
.lista_productos_general.cont_travel > li > ul > li:first-child .dto{color: #4f0f2f !important;}
.lista_productos_general.permanentes_general > li > ul > li:first-child .dto{font-size: 15px;}
.lista_productos_general.cont_offers > li > ul > li:first-child .dto, .lista_productos_general.cont_outlet > li > ul > li:first-child .dto{	color: #FFF !important;}
.lista_productos_general > li > ul > li:first-child .descripcion{	font-size: 16px;	margin-left: 2px;	top: 10px;	font-weight:bold;    font-family: arial;	color: #57022C;}
.lista_productos_general.permanentes_general > li > ul > li:first-child .descripcion{font-size: 12px;margin-left: 0;}
.lista_productos_general.cont_offers > li > ul > li:first-child .descripcion{color: #670033 !important;}
.lista_productos_general.cont_outlet > li > ul > li:first-child .descripcion{color: #FAC581 !important;}
.lista_productos_general.cont_coaching > li > ul > li:first-child .descripcion, .lista_productos_general.cont_travel > li > ul > li:first-child .descripcion{	color: #ffffff !important;}
.lista_productos_general > li > ul > li.caracteristicas ul{	list-style: none;padding: 0;margin: 0;}
.lista_productos_general > li > ul > li.caracteristicas > ul > li:first-child{    font-family: arial;	border-bottom: 1px solid #CECDCC;	border-top: 1px solid #CECDCC;	height: 28px;	padding-top: 9px;	padding-left: 13px;	background-color: #E9E8E6;	color: #670033;	font-size:14px;}
.lista_productos_general.permanentes_general > li > ul > li.caracteristicas > ul > li:first-child{    font-size: 12px;    height: 34px;    border-bottom: 2px solid #CECDCC;    width: 65px;    padding-right: 9px;    padding-left: 0;    text-align: center;    padding-top: 2px;    line-height: 15px;}
.lista_productos_general > li > ul > li.caracteristicas ul li:first-child span.precio{	width: 29px;	font-size:18px;	font-weight: bold;	margin-top: 1px;	background-image: url(../img/travel/x_planes.jpg);	background-repeat: no-repeat;	padding: 6px 0;	background-position: 50% 50%;}
.lista_productos_general.permanentes_general > li > ul > li.caracteristicas ul li:first-child span.precio{    font-size:14px;    background-image: url(../img/x_planes_2.jpg);    padding: 3px 0;    margin-left: -5px;    background-position: center 3px;}
.lista_productos_general > li > ul > li.caracteristicas ul li:first-child span.ver_plan {	position: absolute;	background-repeat: no-repeat;	height: 43px;	margin-left: 122px;	margin-top: -23px;	padding-top: 19px;	text-align: left;	width: 223px;}
.lista_productos_general.permanentes_general > li > ul > li.caracteristicas ul li:first-child span.ver_plan {    height: 35px;    width: 173px;    margin-top: -9px;    margin-left: 49px;    padding-top: 17px}
.lista_productos_general.cont_offers  .ver_plan {background-image: url("../img/offers/offers_content_plan.png");}
.permanentes_general.cont_offers  .ver_plan {background-image: url("../img/permanentes/content_plan_offers.png") !important;}
.permanentes_general.cont_travel  .ver_plan {background-image: url("../img/permanentes/content_plan_travel.png") !important;}
.permanentes_general.cont_coaching  .ver_plan {background-image: url("../img/permanentes/content_plan_coaching.png") !important;}
.permanentes_general.cont_outlet  .ver_plan {    background-image: url("../img/permanentes/content_plan_outlet.png") !important;    padding-right: 1px;    width: 172px !important;}
.lista_productos_general.cont_outlet  .ver_plan {background-image: url("../img/outlet/outlet_content_plan.png");}
.lista_productos_general.cont_travel  .ver_plan {background-image: url("../img/travel/travel_content_plan.png");}
.lista_productos_general.cont_coaching  .ver_plan {background-image: url("../img/coaching/coaching_content_plan.png");}
.lista_productos_general.cont_village .ver_plan {background:url(../img/village/cont_precio.png) right center;}
.lista_productos_general.cont_village .ver_planv {background:url(../img/village/outlet_content_plan.png);}
.lista_productos_general > li > ul > li.caracteristicas ul li:first-child span.ver_plan > .prec {	font-size: 36px;	font-weight: normal;	height: 53px;	margin-left: 14px;}
.lista_productos_general.permanentes_general > li > ul > li.caracteristicas ul li:first-child span.ver_plan > .prec {font-size: 30px;}
.lista_productos_general.cont_offers  .ver_plan .prec {	color: #670033;	text-shadow: 1px 1px 1px #FFF;}
.lista_productos_general.cont_outlet  .ver_plan  .prec {color: #FFF;text-shadow: 1px 1px 1px #000;}
.lista_productos_general.cont_travel  .ver_plan  .prec {color: #670033;	text-shadow: 1px 1px 1px #FFF;}
.lista_productos_general.cont_coaching  .ver_plan .prec {color: #670033;text-shadow: 1px 1px 1px #FFF;}
.lista_productos_general.cont_village .ver_plan .prec {	color: #670033;	text-shadow: 1px 1px 1px #FFF;}
.lista_productos_general > li > ul > li.caracteristicas ul li:first-child span.ver_plan a {	background-image: url("../img/coaching/btn_ver_plan.png");	background-repeat: no-repeat;	float: right;	height: 40px;	margin-top: -10px;	width: 116px;}
.lista_productos_general.permanentes_general > li > ul > li.caracteristicas ul li:first-child span.ver_plan a {    background-image: url("../img/permanentes/ver_plan_op.png");    height: 31px;    width: 87px;    margin-top: -8px;}
.lista_productos_general > li > ul > li.caracteristicas ul li:first-child span.ver_plan a:hover{	background-position:0 -40px;}
.lista_productos_general.permanentes_general > li > ul > li.caracteristicas ul li:first-child span.ver_plan a:hover{    background-position:0 -31px;}
.lista_productos_general.cont_outlet > li > ul > li.caracteristicas ul li:first-child span.ver_plan a {	background-image: url("../img/outlet/btn_ver_plan.png");}
.permanentes_general.cont_outlet > li > ul > li.caracteristicas ul li:first-child span.ver_plan a {    background-image: url("../img/permanentes/outlet_plan_op.png");}
.lista_productos_general > li > ul > li.caracteristicas ul li:last-child ul{	list-style: none;	margin: 0;	padding: 0;}
.lista_productos_general > li > ul > li.caracteristicas > ul > li:last-child > ul > li:first-child{	margin: 17px auto 0 auto;	padding-left: 27px;	width: 305px;}
.lista_productos_general .caracteristicas .redes {    display: block;    margin: 10px 8px 8px;}
.lista_productos_general .caracteristicas .redes .rest{    font-size: 11px;    font-family: Arial;    color: #757373}
.lista_productos_general.permanentes_general .caracteristicas .redes {    display: block;    margin-top:7px;    padding-left: 11px;}
.permanentes_general.cont_outlet .caracteristicas .redes {    margin-top: 14px;}
.permanentes_general .caracteristicas .redes #first{    display: block;    color: #757373;    font-size: 11px;    font-family: arial;    font-weight: bold;    margin-bottom: 7px;}
#alerta_producto_op{    color: #FF0000;    font-size: 11px;    font-weight: bold;    font-family: arial;    float: right;    text-align: right;    line-height: 13px;    margin-top: -4px;    margin-right: 9px;}
.lista_productos_general .caracteristicas .redes .mail, .lista_productos_general .caracteristicas .redes .twiter{	padding-bottom: 2px;	padding-right: 27px;}
.lista_productos_general.permanentes_general .caracteristicas .redes .mail, .lista_productos_general .caracteristicas .redes .twiter{    padding-right: 26px !important;}
.lista_productos_general .caracteristicas .redes .twiter {	background-image: url("../img/travel/redes_twiter.jpg");	background-repeat: no-repeat;}
.lista_productos_general .caracteristicas .redes .mail {	background-image: url("../img/travel/redes_mail.jpg");	background-repeat: no-repeat;}
.lista_productos_general .caracteristicas .redes .megusta {	background-image: url("../img/travel/me_gusta_planes.jpg");	background-repeat: no-repeat;	display: block;	height: 20px;	width: 46px;	margin-top: 6px;}
.lista_productos_general.permanentes_general .caracteristicas .redes .megusta {    padding-bottom: 4px;    padding-right: 46px;    padding-top: 1px;    display: inline !important;}
.lista_productos_general.permanentes_general .caracteristicas .redes .megusta {    background-image: url("../img/travel/me_gusta_planes.jpg");    background-repeat: no-repeat;    display: block;    height: 20px;    width: 46px;    margin-top: 6px;}
.lista_productos_general .caracteristicas .redes .tiempo_restante {	position: absolute;	font-size: 18px;	font-weight: bold;	height: 26px;	text-align: center;	width: 140px;	font-family: arial;}
.lista_productos_general.cont_offers .caracteristicas .redes .tiempo_restante {	color: #E68100;}
.lista_productos_general.cont_outlet .caracteristicas .redes .tiempo_restante {	color: #810745;}
.lista_productos_general.cont_travel .caracteristicas .redes .tiempo_restante {	color: #0898C4;}
.lista_productos_general.cont_coaching .caracteristicas .redes .tiempo_restante {color: #00736D;}
.lista_productos_general .caracteristicas .redes .tiempo_restante > span {float: none;margin-left: 0;padding: 0 3px;}
.lista_productos_general .caracteristicas .destacamos {	display: block;	color: #757373;	width: 312px;	margin-left: 27px;	margin-top: 11px;	width: 320px;    font-family: arial;}
.lista_productos_general .caracteristicas .destacamos span {    font-size:12px;font-weight: bold;display: block;margin-bottom: 2px;}
.lista_productos_general .caracteristicas .destacamos p {    margin-bottom: 4px !important;    font-family: arial;    font-size: 11px;    line-height: 13px;}
.lista_productos_general .caracteristicas .destacamos li {    background: url(../img/list.gif) no-repeat scroll 0 5px transparent;    font-size: 11px !important;    padding-left: 10px;}
.lista_productos_general.cont_travel .caracteristicas .destacamos ul li {	background-position: left 8px;	background-repeat: no-repeat;	list-style: none outside none;	line-height: 14px;	margin-top: 2px;}
.lista_productos_general > li > ul > li.img span{    position: absolute;    width: 357px;    height: 1px;    background-repeat: repeat-x;    text-align: left !important;}
.lista_productos_general.permanentes_general > li{    width: 233px;    height: 285px;}
.titulo_c{    font-family: Arial;    font-weight: bold;    color: #757373;    font-size: 12px;    margin: 8px;}
.permanentes_general.cont_outlet > li{height: 301px;}
.lista_productos_general.permanentes_general > li > ul > li:first-child{    height: 46px;    padding: 0 8px;    padding-top: 6px;    line-height: 13px;}
.lista_productos_general.permanentes_general > li > ul > li.img{    width: 233px;    height: 161px;    line-height: 161px;}
.lista_productos_general.permanentes_general > li > ul > li.img span{width: 233px;}
.permanentes_general.cont_outlet > li > ul > li:first-child .descripcion{    font-size: 13px ;}
.permanentes_general.cont_outlet > li > ul > li:first-child .dto{    font-size: 17px ;}
.permanentes_general.cont_outlet > li > ul > li:first-child{    padding: 0 10px;    padding-top: 7px;    height: 45px;    line-height: 18px;}
.contenedor_comofunciona {height: 100%;width: 100%;color: #6B6B6B;font-size: 12px; padding-left: 0 !important}
.contenedor_comofunciona .seccion {font-size: 11px;}
.contenedor_comofunciona .seccion a {color: #97B106;text-decoration: none;}
.contenedor_comofunciona .header .titulo {display: block;}
.contenedor_comofunciona .header .titulo img {display: inline-block;float: left;height: 40px;}
.contenedor_comofunciona .header .titulo span {    color: #97B106;    font-size: 24px;    background-position: top left;    background-repeat: no-repeat;    display: inline-block;    height: 40px;}
.contenedor_comofunciona .cuerpo .titulo {    color: #97B106;    font-weight: bold;}
.contenedor_comofunciona .cuerpo .contenido {    margin-left: 0;    margin-top: 20px;    padding: 0;}
.contenedor_comofunciona .cuerpo .contenido li {    background-position: top left;    background-repeat: no-repeat;    list-style: none outside none;    margin-bottom: 5px;}
.contenedor_comofunciona .cuerpo .contenido li span {    display: block;    font-weight: bold;    float: left;    width: 430px;}
.contenedor_comofunciona .cuerpo .contenido li p {    display: inline-block;    width: 425px;    float: left;    text-align: justify;}
.contenedor_comofunciona .cuerpo .contenido li img {display: inline-block;margin-top: -15px;}
.contenedor_comofunciona .cuerpo .contenido li a {color: #6B6B6B;font-weight: bold;}
.contenedor_comofunciona .cuerpo .contenido .uno {    background-image: url('http://img.onevisionlife.com/home_coorp/comofunciona/vineta_uno.png');}
.contenedor_comofunciona .cuerpo .contenido .dos {    background-image: url('http://img.onevisionlife.com/home_coorp/comofunciona/vineta_dos.png');}
.contenedor_comofunciona .cuerpo .contenido .tres {    background-image: url('http://img.onevisionlife.com/home_coorp/comofunciona/vineta_tres.png');}
.contenedor_visionsolidaria{padding: 0 !important;}
.contenedor_visionsolidaria img{width: 100%;}
.sabermas{color: #97B106;font-size: 14px;font-weight: bold;padding-left: 80px;}
.sabermas a{color: #97B106;}
/* contenidos home*/
#contentidos_home{    padding-left: 12px;}
#contentidos_home h2{    color: #97B106;    font-family: Times New Roman;    font-size: 23px !important;    margin-bottom: 15px;    font-weight: normal;}
#secciones_home {    font-size: 11px;    margin-left: 12px;    margin-top: 9px;    display: block;    line-height: 13px;}
#secciones_home a{color: #97B106;text-decoration: none;}
/* fin contenidos home*/
/*end home*/
/*permanentes */
#filtrar_ofertas, .filtros_ofertas{	background-color: #EDEDED;	-webkit-border-radius: 8px;	-moz-border-radius: 8px;	border-radius: 8px;	margin: 8px;	color: #57012D !important;	padding:10px;	padding-top: 8px;	font-size: 12px;	font-family: Arial, sans-serif;}
#filtrar_ofertas, .filtros_ofertas .titulo{font-weight: bold;font-size: 15px;}
/* buscador */
.filtros_ofertas .buscador_ofertas{	background-image: url(../img/objetos/txt_busc.jpg);	height: 22px;	width: 216px;	padding: 0;	border: none;}
.filtros_ofertas .buscador_ofertas:hover, .filtros_ofertas .buscador_ofertas:focus{	background-position: 0 -22px;}
/* buscador */
/* Lista seleccionable */
.select_list{	background: url(../img/objetos/lista_buscador.png) left top;	width: 155px;	height: 21px;	padding: 1px;}
.select_list:hover{background-position: 0 -22px !important;color: #6D6D6D;}
.select_list .select_label{	margin: 1px 0 0 5px;}
.select_list .select_label, .select_list .select_options a{color: #666;font-weight: bold;font-size: 11px;display: block;}
.select_list .select_label:hover, .select_list .select_options a:hover{text-decoration: none;color: #000;}
.select_list .select_options
{
	display: none;
	list-style: none;
	margin: -1px 0 0 -1px;
	padding: 0;
	color: #666;
	font-weight: bold;
	font-size: 11px;
	background: #FFF;
	position: absolute;
	z-index: 500;
	width: 155px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border: 1px solid #CCC;
	border-top:none;
}
.select_list .select_options a{padding: 2px 5px;}
.select_list .select_options a:hover{background: #CCC;color: #FFF;}
/*permanentes fin */
/*sidebar*/
#content_sidebar{ border-left: 1px solid #CFCFCF; padding-left: 4px; margin-top: 8px;}
#comofunciona {	display: block;	background-image: url("../img/sidebar/btn_comof_planes.jpg");	height: 57px;	width: 231px;	margin-left: 1px;    background-repeat: no-repeat;}
#promociona_negocio{	display:block;	width:229px;	height:65px;	background-image: url("../img/sidebar/promociona_tunegocio.jpg");	background-repeat:no-repeat;	margin:0 auto;	margin-top: 14px;}
#side_1{	background-image: url("../img/sidebar/haztesocio_verde.jpg");	background-repeat: no-repeat;	display: block;	height: 72px;	margin: 0 auto;	width: 229px;	background-position: center top;	margin-top: 5px;}
.side_55{	background-image: url("../img/sidebar/comercio_reg.jpg");	background-repeat: no-repeat;	display: block;	height: 65px;	margin: 0 auto;	width: 229px;	background-position: center top;	margin-top: 5px;}
#side_2{	background-image: url("../img/sidebar/invita_amigos.png");	background-repeat: no-repeat;	display: block;	height: 77px;	margin: 17px auto;	width: 218px;	background-position: center;	border-top: 1px dashed #BFC0C1;	border-bottom: 1px dashed #BFC0C1;}
#side_4{	background-image: url("../img/sidebar/promo_mes.jpg");	background-repeat: no-repeat;	display: block;	height: 103px;	margin: 0 auto;	width: 229px;	background-position: center;}
#side_5{	background-image: url("../img/sidebar/aconsejanos.png");	background-repeat: no-repeat;	display: block;	height: 305px;	margin: 0 auto;	width: 231px;	background-position: center top;	margin-top: 15px;}
#side_5 select{	border: 1px solid #BFC0C1;	border-radius: 10px;	margin-left: 15px;	margin-top: 128px;	position: absolute;	width: 195px;}
#side_5 textarea{	border: 1px solid #BFC0C1;	border-radius: 5px;	height: 60px;	margin-left: 15px;	margin-top: 181px;	position: absolute;	resize: none;	width: 188px;}
#side_5 #enviar_consejo{	background-image: url("../img/sidebar/enviar_consejo.jpg");	display: block;	height: 38px;	margin-left: 125px;	margin-top: 257px;	position: absolute;	width: 91px;}
#side_6{	background-repeat: no-repeat;	display: block;	height: 318px;	margin: 0 auto;	width: 234px;	background-position: center top;	margin-top: 12px;}
.nav-pills > li > a {margin-left: 4px;margin-top: 40px;}
/*fin---sidebar*/
/**cesta**/
	/*clases*/
.style_content_cesta{    border: 2px solid #E3E3E3;    background-color: #ffffff;    border-radius:5px;    -moz-border-radius:5px;    -webkit-border-radiu:5px;    border:2px solid #E3E3E3;}
	/*fin clases*/
#content_cesta{	width: 950px !important;margin-left: auto;margin-right: auto;}
#content_cesta .titulo{
	font-size: 17px;
	font-weight: bold;
	color: #53022B;
	text-align: center;
	width: 473px;
	height: 26px;
	background-image: url(../img/cesta/back_cesta.jpg);
	border-radius: 10px 10px 0 0;
	padding-top: 9px;
	font-family: arial !important;
}
#content_cesta .cesta, #content_cesta .login_cesta{	background-image: url(../img/cesta/back_cesta.jpg);	box-shadow: -2px 1px 5px #52524B;}
#content_cesta .cesta{padding:0 40px;}
#content_cesta .login_cesta{padding: 42px 40px 37px;}
#content_cesta .login_cesta .estas_registrado_ovl{    padding-top: 28px;    padding-bottom: 35px;}
#content_cesta .cesta > h2{	color: #C4C4C4;	font-size: 18px;	font-weight: bold;	margin: 0;	text-shadow: 1px 1px 0 white;	width: 870px;	margin-bottom: 4px;	line-height: normal;	padding-top: 16px;}
#content_cesta .cesta .my_cesta{padding: 0 5px;list-style: none;margin: 0;}
#content_cesta .cesta .my_cesta .titulo_colum{	font-size: 12px;	font-weight: bold;	font-family: verdana;	text-align: center;	margin-bottom: 10px;	margin-top: 5px;}
.titulo_colum{height: 30px;}
#content_cesta .cesta .my_cesta .titulo_colum, #content_cesta .cesta .my_cesta  .elementos {border-bottom: 1px solid #EBEBEB;}
#content_cesta .cesta .my_cesta, #content_cesta .cesta .my_cesta  .elementos {display: table;}
#content_cesta .cesta .my_cesta .titulo_colum span, #content_cesta .cesta .my_cesta  .elementos span{	float: left;	padding-top: 5px;}
#content_cesta .cesta .my_cesta .titulo_colum span{border-right: 1px solid #ffffff;}
#content_cesta .cesta .my_cesta .elementos span{border-right: 1px solid #EBEBEB;height: 100%;}
#content_cesta .cesta .my_cesta .elementos .colum2{padding-left: 10px;width: 259px;}
#content_cesta .cesta .my_cesta   .colum1 {width: 90px;text-align: center;}
#content_cesta .cesta .my_cesta   .colum2{width: 269px;}
#content_cesta .cesta .my_cesta   .colum3, #content_cesta .cesta .my_cesta   .colum4, #content_cesta .cesta .my_cesta   .colum5, #content_cesta .cesta .my_cesta   .colum6 {	width: 100px;}
#content_cesta .cesta .my_cesta   .colum7 {	width: 90px;	border-right: 0px !important;	text-align: center;}
#content_cesta .cesta .my_cesta   .colum7 a {text-decoration: underline;}
#content_cesta .cesta .my_cesta    .colum6 {font-weight: bold;}
#content_cesta .cesta .my_cesta    .colum3, #content_cesta .cesta .my_cesta    .colum4 {text-align: center;}
#content_cesta .cesta .my_cesta  .elementos  .colum5, #content_cesta .cesta .my_cesta  .elementos  .colum6 {	padding-right: 22px;	text-align: right;	width: 78px;	font-size: 14px;}
#content_cesta .cesta .my_cesta .elementos .colum3 select{	width: 49px;	height: 22px;	font-size: 11px;	font-family: verdana !important;	margin-bottom: 0 !important;}
#content_cesta .cesta .my_cesta .elementos .colum2, #content_cesta .cesta .my_cesta .elementos .colum1 {font-family: arial !important;font-size: 12px !important;}
#content_cesta .cesta .my_cesta .totales {	text-align: right;	padding-right: 111px;	font-family: arial;	font-weight: bold;	font-size: 12px;	height: 26px;	padding-top: 3px;}
#content_cesta .cesta .my_cesta .totales.pago {	border-top: 1px solid #EBEBEB;	margin-top: 14px;	font-size: 18px;	color: #00535D;	padding-top: 15px;	padding-right: 105px !important;	padding-bottom: 8px;}
#content_cesta .cesta .my_cesta .totales.pago span{font-size: 18px;font-weight: bold;}
#content_cesta .cesta .my_cesta .totales.top{margin-top: 19px;}
#content_cesta .cesta .my_cesta .totales > span{	display: inline-block;	width: 75px;	font-family: verdana !important;	font-size: 14px;	font-weight: normal;	margin-left: 18px;}
#content_cesta .cesta .my_cesta .totales .ovl_credits{
	background-image: url(../img/cesta/back_ovl_credits.png);
	background-repeat: no-repeat;
	width: 253px;
	height: 35px;
	position: absolute;
	padding-top: 16px;
	text-align: left;
	padding-left: 20px;
	font-size: 11px;
	color: #ffffff;
	text-align: center;
	padding-right: 46px;
	padding-left: 9px;
	margin-top: -26px;
	margin-left: 14px;
}
#content_cesta .cesta .my_cesta .totales .ovl_credits span{font-weight: bold;font-size: 14px;}
#content_cesta .cesta .my_cesta .totales > img{margin-right: 6px;margin-top: -5px;}
#content_cesta .cesta .my_cesta .totales span input{	width: 59px;	height: 22px;	padding: 0;	padding-right: 14px;	margin-bottom: 0px !important;	margin-left: 21px;	text-align: center;	font-size: 14px;}
#content_cesta .cesta .my_cesta .totales span img{	position: absolute;	margin-left: 79px;	margin-top: -3px;}
#content_cesta .agregar_producto{	font-family: arial;	font-size: 12px;	color: #859AA5;	margin-top: 5px;}
#content_cesta .agregar_producto br{height: 0px;padding: 0px;margin: 0px;}
#content_cesta .agregar_producto a{	background: url(../img/cesta/btn_agregar_p.jpg) no-repeat;	width: 200px;	height: 35px;	border: 0 !important;	margin-left: 448px;	margin-top: -8px;	position: absolute;}
#content_cesta .agregar_producto a:hover{background-position:0 -37px;}
#content_cesta .cesta #mis_regalos{	list-style: none;	margin: 0;	font-size: 12px !important;	padding-bottom: 21px;}
#content_cesta .cesta #mis_regalos li.select_producto{margin-top: 4px;color: 	#656565;}
#content_cesta .cesta #mis_regalos li.detalle_regalos{padding: 0 5px;}
#content_cesta .cesta #mis_regalos li.detalle_regalos h2{	border-bottom: 1px solid #EBEBEB;	font-size: 12px;	font-family: verdana;	color: #000000;	padding-left: 12px;	margin-bottom: 8px;	margin-top: 1px;}
#content_cesta .cesta #mis_regalos li.detalle_regalos div img{margin-right: 5px;}
#content_cesta .cesta #mis_regalos li.detalle_regalos div{	margin-bottom: 20px;	padding-left: 12px;}
#content_cesta .cesta #mis_regalos li.detalle_regalos div p{	margin-bottom: 4px;	color: #4B4B4B;	font-family: verdana;	font-size: 12px;}
#content_cesta .cesta #mis_regalos li.detalle_regalos div p a{	float: right;	text-decoration: underline;	font-family: arial;	margin-right: 14px;}
#content_cesta .cesta #mis_regalos li.detalle_regalos div p span{font-weight: bold;	color: #00535D;}
#content_cesta .cesta #mis_regalos li.select_producto > span{font-weight: bold;}
#content_cesta .cesta #mis_regalos li.select_producto select{	width: 232px;	height: 26px;	margin-bottom: 0 !important;	padding: 0;	margin-left: 5px;}
#content_cesta .cesta #mis_regalos li.select_producto img{margin-left: 30px;margin-right: 8px;}
#content_cesta .cesta #mis_regalos li.select_producto .select_element{padding-bottom: 4px;}
#content_cesta .cesta #mis_regalos li > p{margin: 0 !important;}
#form-regalo{display: none;}
#form-regalo , #form-cupon{padding-left: 71px !important;}
#form-regalo.registro{padding-bottom: 0 !important;}
#mis_datos_envio, #content_facturacion {padding:15px;}
#mis_datos_envio, #content_facturacion  > span{display: block;margin-top: 6px;}
#mis_datos_envio, #content_facturacion  input[type=radio]{margin-top: -1px;}
#content_facturacion > div{margin-top: 18px;}
#content_facturacion div p {font-size: 12px;color: #535353;}
#form-regalo > p{	font-size: 12px;	font-family: arial;	color: #246570;	font-weight: bold;	margin-bottom: 0;}
#form-regalo input[type=submit], #form-cupon input[type=submit] {	width: 100px !important;	height: 31px !important;	background-image: url(../img/cesta/btn_regalar.jpg);	background-repeat: no-repeat;	border: 0;	margin-left: 639px;	margin-bottom: 0;}
#form-regalo input[type=submit]:hover, #form-cupon input[type=submit]:hover{background-position: 0 -31px;}
#form-cupon{list-style: none;margin: 0;	padding: 0;	display: none;}
#form-cupon .envia_yo{padding-bottom: 68px;display: none;}
#form-cupon .envia_yo input[type=text]{	width: 225px !important;	height: 15px;	padding: 0;	margin-top: 6px;	margin-left: 12px;}
#form-cupon .envia_yo input[type=submit]{margin-left: 30px !important;}
#form-cupon .envia_yo, #form-cupon .envia_ovl{margin-top: 17px;}
#form-cupon > p{margin-bottom: 4px;	font-size: 12px;font-family: arial;	font-weight: bold;color: #656565;}
#form-cupon > p input{margin-top: -1px;	margin-right: 4px;}
#form-cupon .envia_ovl {padding: 0 !important;padding-bottom:0px !important;}
#form-cupon .envia_ovl div{	display: inline-block;text-align: right;margin: 0 !important;}
#form-cupon .envia_ovl p, #form-cupon .envia_yo p{color: #00535D;font-size: 12px;font-weight: bold;}
#form-cupon .envia_ovl div input[type=submit]{	margin-left: 0 !important;	float: right;	margin-top: 32px;	margin-bottom: 0 !important;}
#form-cupon .envia_ovl div input{margin-left: 10px !important;margin-bottom: 7px !important;}
#form-cupon .envia_ovl div textarea{	width: 215px !important;	height: 53px !important;	margin-left: 10px !important;	margin-bottom: 0;}
#mis_datos_envio p{	font-size: 12px;	font-weight: bold;	font-family: verdana;	color:#404040;	border-bottom: 2px solid #EBEBEB;	padding-bottom: 10px;	margin-bottom: 0px;}
#mis_datos_envio .important{	font-family: arial;	font-size: 12px;	color: #ffffff;	background-image: url(../img/cesta/info_datos_envio.jpg);	background-repeat: no-repeat;	padding-left: 30px;	background-color: #D6D6D6;	margin-top: 10px;	margin-bottom: 13px;}
#mis_datos_envio br{margin: 0;padding: 0;height: 0;}
#mis_datos_envio .style_content_cesta{list-style: none;	margin: 0;	padding: 0;}
#content_cesta .registro {	text-align: left;	font-size: 12px;	font-family: arial;	padding: 9px 11px;}
#content_cesta .registro form {	margin-bottom: 0px;}
.campos_obligatorios {font-size: 11px;font-family: verdana;	color: #A9A9A9;}
.campos_obligatorios span{font-size: 11px;color: #E49D3E;}
#content_cesta #mis_datos_envio .registro input[type=submit]{	width: 139px;	height: 38px;	background-image: url(../img/cesta/btn_agregarfir.jpg);	background-repeat: no-repeat;	margin-left: 592px;	border: 0 !important;}
#content_cesta .registro #mis_datos_envio input[type=submit]:hover{	background-position: 0 -38px;}
#content_cesta .registro div {	display: inline-block;	text-align: right;	padding-left: 40px;	padding-right: 7px;	margin-top: 10px;	line-height: 29px;	margin-bottom: 8px;}
#content_cesta .registro div input {width: 223px; height: 15px ; padding: 0; margin-bottom: 0px; }
#content_cesta .registro div select{	width: 225px !important;	height: 22px !important;	padding: 0;	margin-bottom: 1px;}
#content_cesta .cesta .registrados {padding: 0 4px;	padding-bottom: 23px;display: none;}
#mis_datos_envio .style_content_cesta li.registrados .titulo_colum, #mis_datos_envio .style_content_cesta li.registrados .elementos {display: block;}
#mis_datos_envio .style_content_cesta li.registrados .colum1{width: 100px;}
#mis_datos_envio .style_content_cesta li.registrados .elementos .colum1{text-align: left;}
#mis_datos_envio .style_content_cesta li.registrados .elementos .colum1 input{margin-left: 7px;	margin-right: 12px;	margin-top: -1px;}
#mis_datos_envio .style_content_cesta li.registrados .colum2{width: 243px;}
#mis_datos_envio .style_content_cesta li.registrados .elementos .colum2{width: 233px !important;}
#mis_datos_envio .style_content_cesta li.registrados .colum3{width: 76px;}
#mis_datos_envio .style_content_cesta li.registrados .colum4{width: 125px;}
#mis_datos_envio .style_content_cesta li.registrados .colum5, #mis_datos_envio .style_content_cesta li.registrados .colum6{	width: 100px !important;	padding-right: 0 !important;	text-align: center !important;	font-size: 13px !important;}
#mis_datos_envio .style_content_cesta li.registrados .elementos .colum6{font-weight: normal;}
#mis_datos_envio .style_content_cesta li.registrados .colum7{width: 74px;}
#mis_datos_envio .style_content_cesta li.registrados .editar{	background-image: url(../img/cesta/btn_editar.jpg);	margin-left: 585px;	margin-top: 13px;}
#mis_datos_envio .style_content_cesta li.registrados .agregar_nueva{	background-image: url(../img/cesta/btn_agregar_nueva.jpg);}
#mis_datos_envio .style_content_cesta li.registrados .editar, #mis_datos_envio .style_content_cesta li.registrados .agregar_nueva{	display: inline-block;	width: 112px;	height: 38px;	background-repeat: no-repeat;}
#mis_datos_envio .style_content_cesta li.registrados .editar:hover, #mis_datos_envio .style_content_cesta li.registrados .agregar_nueva:hover{	background-position: 0 -38px;}
#form-facturacion{	line-height: 29px;	font-size: 12px;	font-family: arial;	padding: 5px 14px !important;}
#form-facturacion form{	margin-left: 62px;	margin-bottom: 7px;	margin-top: 4px;}
#form-facturacion div{display: inline-block;text-align: right;color: #000000;}
#form-facturacion div input{	width: 223px;	height: 15px;	padding: 0;	margin-bottom: 0px;	margin-left: -8px;}
#form-facturacion div.colum02{	width: 221px;	margin-right: 59px;	padding-left: 8px;	font-size: 11px;	text-align: left;}
#formas_pago{text-align: center;font-size: 12px;font-family: verdana;color: #0A0A0A;}
#formas_pago div{padding: 26px 0;}
#formas_pago div span{margin: 0 177px;}
#btn_pagar{	background-image: url(../img/cesta/btn_pagar.jpg);	background-repeat: no-repeat;	width: 201px;	height: 36px;	margin-top: 31px;	margin-bottom: 37px;	border: 0;}
#btn_pagar:hover{background-position: 0 -36px;}
/*fin cesta*/
/*detalle_producto*/
#detalles_productos_ovl .producto{        width:727px;        -webkit-border-radius: 3px;        -moz-border-radius: 3px;        border-radius: 3px;        -webkit-box-shadow: 1px 1px 6px #555;        -moz-box-shadow: 1px 1px 6px #555;        box-shadow: 1px 1px 6px #555;		border: 1px solid #C0C1C2;		margin: 10px auto;}
#detalles_productos_ovl .producto >ul{height: 307px;}
#detalles_productos_ovl .producto .descripcion{
    font-size: 20px;
    font-weight: bold;
    display:block;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 9px;
    border-bottom: 2px solid #CBCBCB;
    height:64px;
    font-family:arial;
    line-height: 24px;
    -webkit-border-radius: 2px  2px 0 0;
    -moz-border-radius: 2px  2px 0 0;
    border-radius: 2px  2px 0 0;
}
#detalles_productos_ovl .producto .descripcion span{    font-weight: bold;    font-size: 24px;    margin-right:2px;}
#detalles_productos_ovl .producto #img_det_pro{    width:440px !important;    height:307px !important;	border-right: 2px solid #BFBFBF;	text-align: center;	overflow: hidden;	line-height: 307px;	vertical-align: middle;}
#detalles_productos_ovl img{vertical-align: baseline;}
#detalles_productos_ovl .producto ul{ list-style:none; margin:0; padding:0;}
#detalles_productos_ovl .producto > ul > li{float: left;}
#detalles_productos_ovl .producto > ul > li > ul{padding-left: 24px;padding-top: 16px;}
#detalles_productos_ovl .producto > ul > li > ul > li:first-child{    width:250px;    height:40px;	padding-top: 20px;	padding-left: 14px;	margin-left: -2px;	margin-right: -1px;	background-repeat:no-repeat;}
#detalles_productos_ovl .producto.offers > ul > li > ul > li:first-child{    background-image:url(../img/offers/cont_precio.png);}
#detalles_productos_ovl .producto.outlet > ul > li > ul > li:first-child{	background-image:url(../img/outlet/cont_precio.png);}
#detalles_productos_ovl .producto.travel > ul > li > ul > li:first-child{	background-image:url(../img/travel/cont_precio.png);}
#detalles_productos_ovl .producto.coaching > ul > li > ul > li:first-child{	background-image:url(../img/coaching/cont_precio.png);}
#detalles_productos_ovl .producto.village > ul > li > ul > li:first-child{	background:url(../img/village/cont_precio_big.png) right center no-repeat;}
#detalles_productos_ovl .producto > ul > li > ul > li:first-child a{    width:133px;    height:42px;    background-repeat:no-repeat;    float:right;	margin-top: -11px;}
#detalles_productos_ovl .producto > ul > li > ul > li:first-child .precio{font-size: 36px;}
#detalles_productos_ovl .producto > ul > li > ul > li:first-child .precio .precio2{	position: absolute;	margin-left: -2px;	margin-top: -1px;}
#detalles_productos_ovl .producto ul li ul li:first-child span .signo{font-size: 24px;}
#detalles_productos_ovl .producto.offers ul li ul li:first-child .precio2, #detalles_productos_ovl .producto.travel ul li ul li:first-child .precio2, #detalles_productos_ovl .producto.coaching ul li ul li:first-child .precio2{	color: #680034;}
#detalles_productos_ovl .producto.outlet ul li ul li:first-child .precio2{color: #ffffff;}
#detalles_productos_ovl .producto.offers ul li ul li:first-child .precio, #detalles_productos_ovl .producto.village ul li ul li:first-child .precio{	color: #670033;	text-shadow: 1px 1px 1px #FFF;}
#detalles_productos_ovl .producto.outlet ul li ul li:first-child .precio{	color: #CB6F3B;}
#detalles_productos_ovl .producto.coaching ul li ul li:first-child .precio{	color: #670033;    text-shadow: 1px 1px 1px #fff;}
#detalles_productos_ovl .producto.travel ul li ul li:first-child .precio{    color: #670033;    text-shadow: 1px 1px 1px #fff;}
#detalles_productos_ovl .producto.offers ul li ul li:first-child a, #detalles_productos_ovl .producto.travel ul li ul li:first-child a, #detalles_productos_ovl .producto.coaching ul li ul li:first-child a
,#detalles_productos_ovl .producto.village ul li ul li:first-child a{    background-image:url(../img/offers/btn_comprar.png);}
#detalles_productos_ovl .producto.outlet ul li ul li:first-child a{	background-image:url(../img/outlet/btn_comprar.png);}
#detalles_productos_ovl .producto ul li ul li:first-child a:hover{background-position:0 -42px;}
#detalles_productos_ovl .producto.offers .descripcion {background-color:#FF9F23;color:#670033;}
#detalles_productos_ovl .producto.outlet .descripcion {	background-color:#9D456F;	color:#FAC581;	height: 37px !important;}
#detalles_productos_ovl .producto.travel .descripcion, #detalles_productos_ovl .producto.coaching .descripcion {color:#ffffff;}
#detalles_productos_ovl .producto.travel .descripcion {background-color:#59C2E1;}
#detalles_productos_ovl .producto.coaching .descripcion {background-color:#0DA9A2;}
#detalles_productos_ovl .producto.village .descripcion {color:#670033;background-color:#D4B700;}
#detalles_productos_ovl .producto.village .descripcion span{color:#FFF;}
#detalles_productos_ovl .producto.offers .descripcion span, #detalles_productos_ovl .producto.outlet .descripcion span{color:#ffffff;}
#detalles_productos_ovl .producto.travel .descripcion span, #detalles_productos_ovl .producto.coaching .descripcion span{color:#510229;}
#detalles_productos_ovl .producto ul li ul li.mostrar_precio{height: 42px;margin-top: 8px;}
#detalles_productos_ovl .producto ul li ul li.mostrar_precio > span{	float: left;	font-size: 12px;	font-family: arial;	font-weight: bold;	color: #757373 ;	width: 78px;	text-align: center;	border-left: 1px solid #DFDFE0;	padding-bottom: 2px;}
#detalles_productos_ovl .producto ul li ul li.mostrar_precio > span:first-child{border-left:0 !important;}
#detalles_productos_ovl .producto ul li ul li.mostrar_precio span.n2{color: #4E4D4D !important;}
#detalles_productos_ovl .producto ul li ul li.mostrar_precio span span{	display: block;	float: none;	font-size: 16px;	margin-top: 4px;}
#tiempo_detalle{	width: 208px;	height: 24px;	background-image: url(../img/tiempo_detalle_producto.jpg);	background-repeat: no-repeat;	padding-left: 24px;	text-align: center;	padding-top: 9px;	margin-top: 10px;	margin-bottom: 10px;}
.producto.offers #tiempo_detalle{color: #E4860C;}
.producto.outlet #tiempo_detalle{color: #820845;}
.producto.travel #tiempo_detalle{color: #29A7CC;}
.producto.coaching #tiempo_detalle{color: #228681;}
#tiempo_detalle > span{	font-size: 18px;	font-weight: bold;	font-family: arial;	padding: 0 4px;}
#tiempo_detalle span span{font-size: 14px;}
#regalo_content{color: #721142;}
#regalo_content > ul {height: 64px;}
#regalo_content > ul li{float: left;}
#regalo_content > ul li:first-child{line-height: 28px;padding-top: 4px;}
#regalo_content > ul li select{margin-bottom: 0;}
#regalo_content br{height: 0px;margin: 0;padding: 0;}
#regalo_content select{	width: 168px;	height: 22px;	font-size: 10px;	color: #3F3F3F;	font-family: verdana;	margin-bottom: 8px;	margin-top: 6px;}
#regalo_content span{	display: block;	height: 20px;	margin-top: 6px;}
#regalo_content span a{float: left;	margin-right: 6px;}
#regalo_content span .twiter {	background-image: url(../img/twiter.jpg);}
#regalo_content span .mail {	background-image: url(../img/mail.jpg);}
#regalo_content span .twiter, #regalo_content span .mail {	width: 16px;	height: 16px;}
#regalo_content span .me_gusta {	width: 46px;	height: 20px;	background-image: url(../img/me_gusta.jpg);	margin-top: -2px;}
#detalles_productos_ovl > ul{	list-style: none;	margin: 0;	padding: 0;	display: table;	margin-top: 15px;}
#detalles_productos_ovl > ul > li{	float: left;}
#detalles_productos_ovl > ul li:first-child span span{	color: #680034;	font-size: 14px;	font-family: Arial;	font-weight: bold;	display: block;}
#detalles_productos_ovl > ul li:first-child span a{    color: #4e4d4d;    font-size: 12px !important;    font-weight: bold;}
#detalles_productos_ovl > ul li:first-child span p{    font-size: 12px;    font-family: Arial;}
#detalles_productos_ovl > ul > li:first-child{	width: 231px;	padding: 0 10px;}
#detalles_productos_ovl > ul > li:first-child > span{	display: block;    margin-bottom: 15px;}
#detalles_productos_ovl > ul > li:first-child > span p{	color:#4E4D4D;    margin-bottom: 0;}
#detalles_productos_ovl > ul > li:first-child #img_empresa_producto{	width: 229px;	height: 114px;	border: 1px solid #959494;	margin-bottom: 10px;	text-align: center;	line-height: 114px;	vertical-align: middle;	overflow: hidden;}
#detalles_productos_ovl > ul .content_descripciones  .tabs_detalle{	list-style: none;	padding: 0;	margin: 0;	height: 40px;	background-color: #EEEEF2;	display: table;	border-top: 1px solid #CBCCCD;	border-left: 1px solid #CBCCCD;	border-right: 1px solid #CBCCCD;}
#detalles_productos_ovl > ul .content_descripciones .tabs_detalle > li{	float: left;	padding-top: 12px;	height: 28px;}
#detalles_productos_ovl > ul .content_descripciones .tabs_detalle > li.active{	background-color: #ffffff;	border-right: 1px solid #CECED0;	border-left: 1px solid #CECED0;	padding-bottom: 1px;	margin-bottom: -1px;}
#detalles_productos_ovl > ul .content_descripciones .tabs_detalle > li.active a{font-weight: bold;border: 0 !important;}
#detalles_productos_ovl > ul .content_descripciones .tabs_detalle > li a{	font-family: tahoma;	color: #680034;	font-size: 14px;	font-weight: 500;	padding: 7px 20px;	border-left: 1px solid #CBCCCD;	text-decoration: none;}
#detalles_productos_ovl > ul .content_descripciones .tabs_detalle > li:first-child a{border-left:0 !important;}
#detalles_productos_ovl > ul .content_descripciones .tabs_detalle > li:first-child{border-left: none !important;}
#detalles_productos_ovl > ul .content_descripciones .tabs_detalle > li:last-child{border-right: none !important;}
#detalles_productos_ovl > ul  .contenido{	font-size: 12px;	font-family: arial;	color: #4E4D4D;}
#detalles_productos_ovl > ul .content_descripciones .contenido.active{	display: block;}
#detalles_productos_ovl > ul .content_descripciones .contenido{	width: 447px;	border: 1px solid #C0C1C2;	padding: 12px 19px;	display: none;}
#detalles_productos_ovl > ul .contenido p{    font-family: Arial;    font-size: 12px;}
#detalles_productos_ovl > ul .content_descripciones .contenido h2{	font-size: 12px;	font-family: arial !important;	color: #680034;	line-height: 20px;	margin-bottom: 0;}
#detalles_productos_ovl > ul .content_descripciones .contenido ul{    list-style-type: none;    margin: 0;	padding: 0;	margin-bottom: 4px;}
#detalles_productos_ovl > ul .content_descripciones .contenido ul li{    background: url(../img/list.gif) no-repeat scroll 0 5px transparent;    padding-left: 10px;}
/*fin detalle_producto*/
/*footer*/
#footer ul{	margin: 0;	list-style: none;}
#footer > ul > li:first-child{    background-image: url(../img/footer_row02.jpg);    background-position: 50% 0;    border-bottom: 1px solid #CDCDCD;}
#footer ul > li:first-child ul h2{    font-size: 20px;    color: #575757;    font-family: Arial;    margin-bottom: 0 ;}
#footer > ul > li:first-child > ul{    width: 910px;    margin: 0 auto;    padding: 0;    list-style: none;    width: 910px;    height: 230px;    list-style: none;    padding-top: 8px;    padding-left: 41px;    padding-right: 41px;}
#footer > ul > li:first-child > ul > li:first-child{width: 616px;}
#footer > ul > li:first-child > ul > li.ultimo{width: 294px !important;}
#footer ul li.row02{    height: 125px;    background-image: url(../img/footer_row02.jpg);}
#footer ul li.row03{    height: 62px;    background-color: #505050;}
#footer > ul > li:first-child > ul > li{float: left;}
#footer > ul > li:first-child > ul > li > span {    color: #444;	display: block;	font-family: arial;	font-size: 12px !important;	line-height: 15px;	padding-top: 12px;}
#footer > ul > li:first-child > ul > li > span a{    color:#444;}
#footer > ul > li:first-child > ul > li:first-child span {    height: 70px;    background-image: url(../img/border_noticias01.jpg);    background-repeat: repeat-x;background-position: 0 100%;}
#footer > ul > li:first-child > ul > li:first-child span img {    float: left;    margin-right: 8px;    margin-top: 2px;}
#footer > ul > li:first-child > ul > li a{    text-decoration: none;}
#footer > ul > li:first-child > ul > li #btn_visita_blog{    display: block;    background-image: url(../img/btn_visita_blog.png);    width: 175px;    height: 39px;}
#footer > ul > li:first-child > ul > li #btn_visita_blog:hover{    background-position: 0 -39px;}
#footer > ul > li:first-child > ul > li.ultimo #btn_contactanos{    display: block;    background-image: url(../img/btn_contactanos.png);    width: 139px;    height: 37px;    margin-bottom: 23px;}
#footer > ul > li:first-child > ul > li.ultimo  #btn_contactanos:hover{    background-position: 0 -37px;}
#footer > ul > li:first-child > ul > li.ultimo  .btn_footer_redes{    margin-bottom: 5px;}
#footer > ul > li:first-child > ul > li.ultimo  #btn_siguenos_twiter{    position: absolute;    margin-top: -21px;    margin-left: 82px; }
#footer > ul > li:first-child > ul > li:first-child > a, #footer > ul > li:first-child > ul > li.ultimo > a{    margin-top: 12px;    margin-left: -2px;}
#footer ul li.row02 ul {    list-style: none;    width: 948px;    margin: 0 auto;    height: 120px;    padding-top: 5px;}
#footer ul li.row02 ul li{    font-family: arial;    display: table;    min-width: 214px !important;    float: left;    padding: 0 0 0 20px;}
#footer ul li.row02 h2{    font-size: 15px;    font-family: Arial;    color:#444;    margin-bottom: 0;    font-weight: bold;}
#footer ul li.row02 p{    padding: 0;    margin: 0;    text-align: center;}
#footer ul li.row02 ul a{    display: block;    font-size: 11px;    color:#444;    padding-bottom: 8px;    padding-right: 10px;}
#footer ul li.row03{	font-family: verdana;	font-size: 10px;	text-align: center;	color:#ffffff;	padding-top: 10px;}
#footer ul li.row03 a{color:#ffffff;text-decoration: underline;}
/*fin footer*/
/* Extras Global */
.transfer-effect{	border: 3px dotted #ffa800;	padding: 0;	margin: 0;}
input[type=text].error, textarea.error{	border: 1px solid #CC0000;}
label.error{	color: #CC0000;	font-size: 12px;	margin: -5px 0 0 0;	padding: 0;}
/*Countdown*/
#defaultCountdown{    height: 32px;    padding-left: 10px;    width: 204px;}
/* jQuery Countdown styles 1.6.0. */
.countdown_rtl {    direction: rtl;    width: 204px;}
.countdown_holding span {color: #888;}
.countdown_row {    clear: both;    width: 100%;    padding: 0px 2px;    text-align: center;}
.countdown_show1 .countdown_section {width: 98%;}
.countdown_show2 .countdown_section {width: 48%;}
.countdown_show3 .countdown_section {text-align: center;width: 32.3%;}
.countdown_show4 .countdown_section {width: 24.5%;}
.countdown_show5 .countdown_section {width: 19.5%;}
.countdown_show6 .countdown_section {width: 16.25%;}
.countdown_show7 .countdown_section {width: 14%;}
.countdown_section {    display: block;    float: left;    font-size: 22px;    font-weight: bold;    text-align: center;}
.countdown_amount {font-size: 18px !important;}
.countdown_amount2{font-size: 14px !important;}
.countdown_descr {display: block;width: 100%;}
/*login form*/
#f_login{z-index: 2; display: none; overflow: hidden; width: 344px; position: absolute;top: 14px;margin-left: -7px;}
#f_login ul{    background-image: url("../img/background_login.png");    font-size: 11px;    height: 132px !important;    list-style: none outside none;    width: 344px !important;    margin-left: 0;    position: relative;    text-align: left;}
#f_login ul li {    color: #5E786F !important;    float: left;    height: 80px !important;    margin: 27px 0 0 !important;    padding: 0;}
#f_login ul a {    color: #A49E9E;    text-decoration: none;}
#f_login ul p {    padding: 0 5px 0 0;}
#f_login ul input[type="text"] {    background-color: #ECEDED;    border: 0 none;    height: 18px;    margin: 0 0 5px !important;    padding: 0 !important;    width: 205px;}
#f_login ul input[type="password"] {    background-color: #ECEDED;    border: 0 none;    height: 18px;    margin: 0 0 5px !important;    padding: 0 !important;    width: 205px;}
#button_top {    background-image: url("../img/entrar_login.jpg");    background-repeat: no-repeat;}
#f_login ul input[type="submit"] {    border: 0 none !important;    height: 19px !important;    margin-top: 11px !important;    margin-left: 10px;    width: 46px !important;}
.cerrarForm {    background-color: #478C1A;    border-radius: 0 0 0 6px;    color: #FFFFFF !important;    padding: 2px 8px;    position: absolute;    right: 0;    top: 4px;}
.span_form_check {margin-left: 2px;position: absolute;}
/* ===================
tipos de socio
*/
.left2{float: left;}
.right2{float: right;}
.clear2{clear: both;}
#tipo-socios h3{color: #A9BC46;}
#tipo-socios td h3{color: #535353;margin-left: 10px;}
.bar{    background: #D0E377;    border: 1px solid #C0C3D2;    border-radius: 2px;    height: 30px;    margin: 12px 0 12px -4px;    width: 948px;}
.bar h4{color: #848b7b;margin: 7px;}
.bread{    background: url("../img/breadcrumb1.jpg") no-repeat;    height: 30px;    margin-bottom: 10px;    width: 302px;}
.bread_2{    background: url("../img/breadcrumb2.jpg") no-repeat !important;}
.bread_3{    background: url("../img/breadcrumb3.jpg") no-repeat !important;    margin-left: 10px;    width: 363px;}
.bread_3 ul li{margin: 5px 12px !important;}
.bread ul{    margin: 0;    padding: 0;    list-style: none;}
.bread ul li{    display: inline-block;    margin: 5px 3.2%;}
.bread ul li a{    color: #585858;    font-size: 11px;    text-decoration: none;}
.bread ul li a:hover{color: #a9bc46;}
.bread ul li .active{color: #a9bc46;}
.gratis{    background: #D0E377;    font-weight: bold;    text-align: center;    width: 228px;}
.depago{    background: #FECB4E;    font-weight: bold;    text-align: center;    width: 454px;}
.col{width: 454px;}
.cont-col{margin-top: 10px;}
.tableg{border: solid 3px #D0E377;}
.tableg td, .tableg th{    border: solid 1px #D0E377;    text-align: center;    padding: 4px 0px;}
.tableg td{background: #fff;}
.tableg th{background: #F6F9E4;}
.tableo{border: solid 3px #FECB4E;}
.tableo td, .tableo th{    border: solid 1px #FECB4E;    text-align: center;    padding: 4px 0px;}
.tableo td{background: #fff;}
.tableo th{background: #FFF5DC;}
.tablv1, .tablv1 td, .tablv2 td{    border: solid 1px #D2D2D2;    font-size: 12px;}
.tablv1 td, .tablv2 td{height: 30px;}
.tablv1 .line2 td, .tablv2 .line2 td{height: 40px;}
.tablv1 td{background: #eee;padding-left: 6px;}
.tablv1 .tit{background: #D1D9F0;font-weight: bold;}
.tablv2{ border: solid 3px #D0E377;}
.tablv2 td{text-align: center;}
.tablv2 .tit{background: #E0E8FF;}
.tablv3{border: solid 3px #FECB4E !important;}
.odd{background: #F8F8F8;}
.otr{background: #FFF5DC;border-top: solid 3px #FECB4E;height: 78px;}
.gtr1 td{background: #E7ECCC;height: 78px;}
.gtr1 td i{font-size: 10px;}
.gtr2{    background: #F4FAD8;    border-top: solid 3px #D0E377;    height: 78px;}
#masinfo{font-size: 11px;}
/**/
#acerca{    margin: 0;    padding: 0;    list-style: none;}
#acerca .question, #acerca .answer{    border: solid 1px #c0c3d2;    border-radius: 5px;    min-height: 34px;    margin-bottom: 8px;}
#acerca .question{    padding-left: 28px;    background: url("../img/q2_icon.gif") no-repeat 5px 5px #f4f4f4;    box-shadow: 1px 2px #D9DCE5;}
#acerca .question p, #acerca .answer p{color: #8a8c99; padding: 0; margin: 8px;}
#acerca .answer{ margin-left: 40px; width: 760px;}
#acerca .answer span{color: #A9BC46;}
/*===========*/

#conferencias h3{color: #A9BC46;}
#conferencias #content_conferencias{    background: url("../img/ovl_conferencias.jpg") no-repeat;    height: 674px;    width: 710px;}
#conferencias #content_conferencias .sala{ float: right; width: 264px;}
#conferencias #content_conferencias .sala a{ color: #819803;}
#conferencias #content_conferencias .sala ul{list-style: none;padding: 10px 0 0;margin: 0;}
#conferencias #content_conferencias .sala ul li{ margin: 28px 0;}
#conferencias .titulo{    color: #98b206;    text-align: center;    text-shadow: 1px 1px 1px #444;}
.btn_virtual{position: absolute;    bottom: 5px;    right: 10px;}
/*=========*/