body
{
	/*background: url(../img/bg_body.jpg);*/
}

h1, h2, h3, h4
{
	font-family: Arial;
	margin-bottom: 8px;
	color: #06656F;
}

pre strong
{
	color: #286cad;
}


/*******************/

#header
{
}



.container
{
	width: 992px;
	/*outline: 1px solid rgba(255,0,0,0.1);*/
}
#content
{

}


/*------------------------------------------------------ Estilos tiendas */
#c_home .container, #c_offers .container, #c_outlet .container, #c_travel .container, #c_coaching .container
{
	background: #FFF;

}
#c_home .container, #c_offers .container, #c_outlet .container, #c_travel .container, #c_coaching .container, #c_offers #content_cesta
{
	padding-bottom: 146px;
}




#c_offers, #c_outlet, #c_travel, #c_coaching, #c_home
{
    padding-top: 46px;
}

#c_offers
{
    /*background: #FFCC00;*/
	background-image: url(../img/offers/back_offers.jpg);


}


/**/
#c_outlet
{
	background-image: url(../img/outlet/back_outlet.jpg);
}

#c_travel
{
	background-image: url(../img/travel/back_travel.jpg);
}

#c_coaching
{
	background-image: url(../img/coaching/back_coaching.jpg);
}
#c_home
{
	background-image: url(../img/home/back_home.jpg);
}



/*------------------------------------------------------ End Estilos tiendas */



#app_content
{

}

#footer
{
	/*padding-top: 80px;*/
	margin-top: -120px;
}
#footer .inner-content
{
	padding-top: 20px;
	color: #FFF;
}
#footer .inner-content p
{
	font-size: 11px !important;
}

#main_menu
{
	margin-top: 45px;

}
#main_menu ul
{
	list-style: none;
}
#main_menu ul a
{
	color: #FFF;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}
#main_menu ul a:hover
{
	color: #000;
}

/****************************************************** Clases */
.logo
{
	background: url(../img/logo_home.png) no-repeat;
	height: 97px;
	width: 230px;
	text-indent: -900px;
}


.login_provider
{
	margin-right: 5px;
	display: block;
	float:left;
}

.label_separador
{
	color: #be2e2f;
	border-bottom: 2px solid #be2e2f;
}
.content
{
	background: #FFF;
	padding: 10px;
}

/*----------------------------------------------------------------- Bloques */

.block_header
{
	outline: 1px solid #CCC;
	padding: 5px 0 0 0;
	background: #FFF;
    height: 111px;
}

.block_top_bar
{
	background: url(../img/bg_barra_top.jpg) top repeat-x;
	height:27px;
	color: #8e8f86;
	/*outline: 1px solid #FF0000;*/
}
.block_info_usuario
{
	background: url(../img/info_user.png) no-repeat;
	width: 520px;
	margin-top: 3px;
	padding: 1px 7px 0 35px;
	font-size: 11px;
	height: 20px;
}
.block_top_bar a
{
	color: #AFB1A3;
	font-size: 11px;
}


/*----------------------------------------------------------------- Secciones */
/*head*/
    #header .block_header .navegacion-line{
        float:right;
        margin-top: 46px;
    }
    #header .block_header .navegacion-line a{

            width:92px;
            height:46px;
            display:inline-block;
            background-repeat:no-repeat;
    }
    #header .block_header .navegacion-line a.n1{
            background-image:url(../img/btn_nav_offers.jpg);
    }
    #header .block_header .navegacion-line a.n2{
            background-image:url(../img/btn_nav_outlet.jpg);
    }
    #header .block_header .navegacion-line a.n3{
            background-image:url(../img/btn_nav_travel.jpg);
    }
    #header .block_header .navegacion-line a.n4{
            background-image:url(../img/btn_nav_coaching.jpg);
    }
    #header .block_header .navegacion-line a.n5{
            background-image:url(../img/btn_nav_home.jpg);
    }

    #header .block_header .navegacion-line a.active {
        background-position:0 -46px;
    }





    #header .block_header .selecciona_pais{
        display:inline-block;
        margin-top: 47px;
        margin-left: 43px;
        
    }


    #header .block_header .selecciona_pais select{
        width:129px;
        height:16px;
        padding:0;
        font-size:10px;
        margin:2px 0 !important;


    }
     #header .block_header .selecciona_pais span{
         font-family:verdana;
         font-size:20px;
         display:block;
    }
    #header .abajo.select-pais-home, #header .abajo.select-pais-travel, #header .abajo.select-pais-coaching{
        color:#97B206;
    }

    #header .arriba.select-pais-offers, #header .arriba.select-pais-outlet, #header .arriba.select-pais-cesta{
        color:#670033;
    }

    #header .abajo.select-pais-offers, #header .abajo.select-pais-outlet, #header .arriba.select-pais-home, #header .arriba.select-pais-travel, #header .arriba.select-pais-coaching, #header .abajo.select-pais-cesta {
            display:none !important;
    }



/*fin head*/


/*logos tiendas*/
.logo-home , .logo-travel, .logo-coaching
{
	background: url(../img/logo_home.png) no-repeat;

}



.logo-offers
{
	background: url(../img/logo_home.png) no-repeat;
	height: 97px;
	width: 250px;
	text-indent: -900px;
	background-size: 250px;
	margin-top: 20px !important;

}
.logo-outlet
{
	background: url(../img/logo_outlet.jpg) no-repeat;
	width: 222px !important;
	height: 98px !important;

}




/*fin lgos tiendas*/


/*menu lineas*/
#container_lineas{
	margin-left: auto;
	margin-right: auto;
	width: 992px
}
#container_lineas #pestanas_lineas{
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #D8D8D9;
}
#container_lineas #pestanas_lineas {
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;
}
#container_lineas #pestanas_lineas li {
	float: left;
}
#container_lineas #pestanas_lineas li  a{
	display: block;
	font-family: arial;
	font-size: 15px;
	color: #680034;
	padding: 10px 16px;
	text-decoration: none;
}
#container_lineas #pestanas_lineas li  a:hover{
	background-color: #ffffff;
	font-weight: bold;
}


/*fin menu lineas*/

/* Carrito Permanente */
#content_carrito *
{
	/*outline: 1px solid rgba(255,0,0,.1);*/
}
#content_carrito {
	margin-left: 705px;
	position: absolute;
    margin-top: -3px;
}

#content_carrito ul{
	list-style:none;
	margin-left:0px;
}
#content_carrito > ul > li{
	float:left;
}

#content_carrito ul li.boton01 > a{
	width:60px;
	height:41px;
	background-image:url(../img/carrito/tab01.png);
	background-repeat:no-repeat;
	display:block;


}

#content_carrito ul li.boton01 div{
	display: none;
	position: absolute;
	width: 504px;
	background-image: url(../img/carrito/background_carrito.png);
	background-repeat: no-repeat;
	margin-left: -220px;
	margin-top: 25px;
	z-index: 150;
	background-position: 0 100%;
	font-family: verdana;
	padding-bottom: 30px;


}
#content_carrito ul li.boton01 div > img{
	margin-top: -23px;
	margin-bottom: 4px;
	position:absolute;
}
#content_carrito ul li.boton01 div > a#cierre_carrito{
	width:49px;
	height:41px;
	position:absolute;
	background-image:url(../img/carrito/cierre_carrito.png);
	margin-left: 441px;
	margin-top: -31px;
}


#content_carrito ul li.boton01 div > span#total{
	display:block;
	text-align:right;
	margin-left:37px;
	width: 388px;
	border-top: #F2F2F2 solid 1px;
	margin-top:1px;

	font-size: 14px;
	font-weight: bold;

	margin-right: 75px;
	padding-top: 22px;
	color: #5A5A5A;
	padding-right: 37px;
	margin-bottom: 25px;
}

#content_carrito ul li.boton01 div > span#tiempo{
	display:block;
	margin-top: 13px;
	font-size: 9px;
	margin-left: 25px;
	border:0 !important;
	text-align:left;

}
#content_carrito ul li.boton01 div > span#tiempo img{
	margin-right: 5px;
	margin-top: -3px;
	margin-bottom: 0;
}



#content_carrito ul li.boton01 div > a{
	margin-right:16px;
}
#content_carrito ul li.boton01 div > a#first{
	margin-left:36px;
}
#content_carrito ul li.boton01 div > span#total span{
	margin-left:12px
}

#content_carrito ul li.boton01 div ul{
	list-style:none;
	margin-left:0px;
	/*margin: 0px 18px 0px 0px;*/
	padding-left: 37px;
	max-height: 246px;
	overflow: auto;
	width:448px;
}
#content_carrito ul li.boton01 div ul li{
	display:block;
	font-size:11px;
	width: 425px;
	padding-bottom:9px;
	border-bottom: #F2F2F2 solid 1px ;
	margin-top:17px;
}
#content_carrito ul li.boton01 div ul li:last-child{
	margin-bottom:0 !important;
}
#content_carrito ul li.boton01 div ul li img{
	border: 2px solid #858585;
	border-radius:2px;
	margin-right:10px;
}
#content_carrito ul li.boton01 div ul li .cantidad{
	float:right;
	width: 35px;
	margin-top:34px;
}
#content_carrito ul li.boton01 div ul li .costo{
	float:right;
	margin-left: 38px;
	width: 35px;
	margin-top:34px;
}
#content_carrito ul li.boton01 div ul li a{
	float:right;
	background-image: url(../img/carrito/cierre_li_carrito.jpg);
	margin-top:34px;
	background-repeat: no-repeat;
	width: 19px !important;
	height: 17px !important;
	margin-bottom: -5px;
	margin-left: 28px !important;
}







#content_carrito ul li.boton02 a{
	width:60px;
	height:41px;
	background-image:url(../img/carrito/tab02.png);
	background-repeat:no-repeat;
	display:block;
}


#content_carrito ul li.boton03 a{
	width:60px;
	height:41px;
	background-image:url(../img/carrito/tab03.png);
	background-repeat:no-repeat;
	display:block;
}





/* Home */

.container .span3{
 margin-left: 6px;
}
#c_home .container .span9, #c_travel .container .span9, #c_outlet .container .span9, #c_offers .container .span9, #c_coaching .container .span9 {
	margin-left: 0px !important;
	width: 749px;
    /*border-right:1px solid #CDCECE;*/
    margin-top: 10px;
}


#c_home .container .span9 > ul{
	  list-style: none;
	  padding-left: 0;
	  margin: 0;
	  margin-bottom: 10px;
	  display: table;
  }


#c_home .container .span9 > ul > li:first-child{
    border:1px solid #C0C1C2;
    margin-left: 10px;
    width: 726px;
    height: 44px;
    -moz-box-shadow: 2px 2px 5px #D9D9D9;
    -webkit-box-shadow: 2px 2px 5px #D9D9D9;
    box-shadow: 2px 2px 5px #D9D9D9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#c_home .container .span9 >  ul > li:first-child a{
    width:156px;
    height:30px;
    margin-left: 561px;
}
#c_home  .container .span9 > ul > li:first-child > img{
    height:44px;
    position:absolute;
    margin-left:10px;
}
#c_home .container .span9 >  ul > li:first-child a img{
    margin-top:7px;
}


#c_home .container .span9  > ul .head_offers{
    background-color:#EF8801;
}
#c_home .container .span9  > ul .head_outlet{
	background-color:#812553;
}
#c_home .container .span9  > ul .head_travel{
	background-color:#0CA7D5;
}
#c_home .container .span9  > ul .head_coaching{
	text-align:left;

	background-color: #00736D;
	margin-left: 6px;
	width: 734px;
	height: 53px;

}

#c_home .container .span9  > ul .head_coaching > img{
	position: absolute;
	width: 323px !important;
	height: 53px !important;


}



.lista_productos_general{

	list-style: none;
	padding: 0;
	margin: 0;
	margin-top:10px;
}
.lista_productos_general > li{

	background-color: #FFFFFF;
	border: 1px solid #C0C1C2;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 2px 2px 5px #D9D9D9;
	float: left;
	margin-bottom: 12px;
	margin-left: 10px;
	width: 357px;
	height: 504px;

}
.lista_productos_general.cont_outlet > li{

	height: 444px !important;

}



.lista_productos_general > li > ul {

	padding: 0;
	margin: 0;
	list-style: none;
}
.lista_productos_general > li > ul > li:first-child{

	height: 76px;
	padding: 0 12px;
	padding-top: 4px;
	line-height: 22px;
}

.lista_productos_general > li > ul > li.img{
	width: 357px;
	height: 250px;
}
.lista_productos_general > li > ul > li.img img{
	width: 100%;
	height: 100%;

}

.lista_productos_general.cont_offers > li > ul > li:first-child{
	background-color: #FFA023;
}
.lista_productos_general.cont_outlet > li > ul > li:first-child{
	background-color: #9D456F;
}
.lista_productos_general.cont_travel > li > ul > li:first-child{
	background-color: #59C1E1;
}
.lista_productos_general.cont_coaching > li > ul > li:first-child{
	background-color: #0DA8A2;
}




.lista_productos_general > li > ul > li:first-child .dto{

	color: #4F0F2F;
	font-weight: bold;
	font-size: 24px;
 }

.lista_productos_general.cont_offers > li > ul > li:first-child .dto, .lista_productos_general.cont_outlet > li > ul > li:first-child .dto{
	color: #FFF !important;
}


.lista_productos_general > li > ul > li:first-child .descripcion{


	font-size: 18px;
	font-weight: normal;
	margin-left: 2px;
	top: 10px;
	font-weight:bold;

}


.lista_productos_general.cont_offers > li > ul > li:first-child .descripcion{
	color: #670033 !important;
}
.lista_productos_general.cont_outlet > li > ul > li:first-child .descripcion{
	color: #FAC581 !important;
}
.lista_productos_general.cont_coaching > li > ul > li:first-child .descripcion, .lista_productos_general.cont_travel > li > ul > li:first-child .descripcion{
	color: #ffffff !important;
}



.lista_productos_general > li > ul > li.caracteristicas ul{

	list-style: none;
	padding: 0;
	margin: 0;

}
.lista_productos_general > li > ul > li.caracteristicas > ul > li:first-child{

	border-bottom: 1px solid #CECDCC;
	border-top: 1px solid #CECDCC;
	height: 28px;
	padding-top: 9px;
	padding-left: 13px;
	background-color: #E9E8E6;
	color: #670033;
	font-size:14px;

}


.lista_productos_general > li > ul > li.caracteristicas ul li:first-child span.precio{

	width: 29px;
	font-size:18px;
	font-weight: bold;
	margin-top: 1px;
	background-image: url(../img/travel/x_planes.jpg);
	background-repeat: no-repeat;
	padding: 6px 0;
	background-position: 50% 50%;

}
.lista_productos_general > li > ul > li.caracteristicas ul li:first-child span.ver_plan {

	position: absolute;
	background-repeat: no-repeat;

	height: 43px;
	margin-left: 122px;
	margin-top: -23px;
	padding-top: 19px;

	text-align: left;
	width: 223px;

}

.lista_productos_general.cont_offers  .ver_plan {
	background-image: url("../img/offers/offers_content_plan.png");
}

.lista_productos_general.cont_outlet  .ver_plan {
	background-image: url("../img/outlet/outlet_content_plan.png");
}
.lista_productos_general.cont_travel  .ver_plan {
	background-image: url("../img/travel/travel_content_plan.png");
}
.lista_productos_general.cont_coaching  .ver_plan {
	background-image: url("../img/coaching/coaching_content_plan.png");
}



.lista_productos_general > li > ul > li.caracteristicas ul li:first-child span.ver_plan > .prec {

	font-size: 36px;
	font-weight: normal;
	height: 53px;
	/*margin-bottom: -7px;*/
	margin-left: 18px;
	/*margin-top: -12px;*/
}


.lista_productos_general.cont_offers  .ver_plan .prec {
	color: #FFE4C1;
}
.lista_productos_general.cont_outlet  .ver_plan  .prec {
	color: #CB6F3A;
}
.lista_productos_general.cont_travel  .ver_plan  .prec {
	color: #BDE6F3;
}
.lista_productos_general.cont_coaching  .ver_plan .prec {
	color: #BDE6F3;
}


.lista_productos_general > li > ul > li.caracteristicas ul li:first-child span.ver_plan .prec .prec_2 {
	color: #670033;
	font-size: 36px;
	font-weight: normal;
	height: 52px;
	margin-bottom: -4px;
	margin-left: 0px;
	margin-top: -1px;
	position: absolute;
	display: block;
	margin-left: 17px;
}
.lista_productos_general.cont_outlet > li > ul > li.caracteristicas ul li:first-child span.ver_plan .prec .prec_2 {
	color: #ffffff !important;
}

.lista_productos_general > li > ul > li.caracteristicas ul li:first-child span.ver_plan a {
	background-image: url("../img/coaching/btn_ver_plan.png");
	background-repeat: no-repeat;
	float: right;
	height: 40px;
	margin-top: -10px;
	width: 116px;
}

.lista_productos_general > li > ul > li.caracteristicas ul li:first-child span.ver_plan a:hover{

	background-repeat: no-repeat;
	background-position:0 -40px;

}
.lista_productos_general.cont_outlet > li > ul > li.caracteristicas ul li:first-child span.ver_plan a {

	background-image: url("../img/outlet/btn_ver_plan.png");
}



.lista_productos_general > li > ul > li.caracteristicas ul li:last-child{

}
.lista_productos_general > li > ul > li.caracteristicas ul li:last-child ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.lista_productos_general > li > ul > li.caracteristicas > ul > li:last-child > ul > li:first-child{
	margin: 17px auto 0 auto;
	padding-left: 27px;
	width: 305px;
}



.lista_productos_general .caracteristicas .redes {
	display: block;
	margin-top:17px;
	padding-left: 27px;
}

.lista_productos_general .caracteristicas .redes .mail, .lista_productos_general .caracteristicas .redes .twiter{
	padding-bottom: 2px;
	padding-right: 27px;
}


.lista_productos_general .caracteristicas .redes .twiter {
	background-image: url("../img/travel/redes_twiter.jpg");
	background-repeat: no-repeat;
}

.lista_productos_general .caracteristicas .redes .mail {
	background-image: url("../img/travel/redes_mail.jpg");
	background-repeat: no-repeat;
}
.lista_productos_general .caracteristicas .redes .megusta {
	background-image: url("../img/travel/me_gusta_planes.jpg");
	background-repeat: no-repeat;
	display: block;
	height: 20px;
	width: 46px;
	margin-top: 5px;
}


.lista_productos_general .caracteristicas .redes .tiempo_restante {
	position: absolute;
	display: block;
	background-image: url("../img/travel/tiempo_travel.jpg");
	background-repeat: no-repeat;
	/*color: #00736D;*/
	font-size: 18px;
	font-weight: bold;
	height: 26px;
	margin-left: 104px;
	margin-top: -49px;
	padding-top: 28px;

	text-align: center;
	width: 202px;
	font-family: arial;
}


.lista_productos_general.cont_offers .caracteristicas .redes .tiempo_restante {
	color: #E68100;
}

.lista_productos_general.cont_outlet .caracteristicas .redes .tiempo_restante {
	color: #810745;
}
.lista_productos_general.cont_travel .caracteristicas .redes .tiempo_restante {
	color: #0898C4;
}
.lista_productos_general.cont_coaching .caracteristicas .redes .tiempo_restante {
	color: #00736D;
}


.lista_productos_general .caracteristicas .redes .tiempo_restante > span {
	float: none;
	margin-left: 0;
	padding: 0 3px;
}
.lista_productos_general .caracteristicas .destacamos {
	display: block;
	color: #848484;
	/*height: 35px;*/
	width: 300px;


	margin-left: 27px;
	margin-top: 11px;
	width: 305px;
}
.lista_productos_general .caracteristicas .destacamos ul  {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 11px;
}


.lista_productos_general .caracteristicas .destacamos span {
	color:#757373;font-size:12px;font-weight: bold;
}
.lista_productos_general .caracteristicas .destacamos ul li {
	/*background-image: url(../img/bullet.png);*/
	background-position: left 8px;
	background-repeat: no-repeat;
	list-style: none outside none;
	/*padding-left: 10px;*/

}
.lista_productos_general.cont_travel .caracteristicas .destacamos ul li {
	/*background-image: url(../img/bullet.png);*/
	background-position: left 8px;
	background-repeat: no-repeat;
	list-style: none outside none;
	/*padding-left: 10px;*/
	line-height: 14px;
	margin-top: 2px;
}


/*end home*/


/*sidebar*/

#comofunciona {
	display: block;
	background-image: url("../img/sidebar/btn_comof_planes.jpg");
	height: 63px;
	width: 231px;
	margin-left: 1px;
}



#promociona_negocio{
	display:block;
	width:229px;
	height:65px;
	background-image: url("../img/sidebar/promociona_tunegocio.jpg");
	background-repeat:no-repeat;
	margin:0 auto;
	margin-top: 14px;
}
#sidebar{
}

#side_1{
	background-image: url("../img/sidebar/haztesocio_verde.jpg");
	background-repeat: no-repeat;
	display: block;
	height: 72px;
	margin: 0 auto;
	width: 229px;
	background-position: center top;
	margin-top: 5px;
}

#side_2{
	background-image: url("../img/sidebar/invita_amigos.png");
	background-repeat: no-repeat;
	display: block;
	height: 77px;
	margin: 17px auto;
	width: 206px;
	background-position: center;
	border-top: 1px dashed #BFC0C1;
	border-bottom: 1px dashed #BFC0C1;
}



#side_4{
	background-image: url("../img/sidebar/promo_mes.jpg");
	background-repeat: no-repeat;
	display: block;
	height: 103px;
	margin: 0 auto;
	width: 229px;
	background-position: center;
}
#side_5{
	background-image: url("../img/sidebar/aconsejanos.png");
	background-repeat: no-repeat;
	display: block;
	height: 305px;
	margin: 0 auto;
	width: 231px;
	background-position: center top;
	margin-top: 15px;
}

#side_5 form{

}

#side_5 label{

}

#side_5 select{
	border: 1px solid #BFC0C1;
	border-radius: 10px;
	margin-left: 15px;
	margin-top: 128px;
	position: absolute;
	width: 195px;

}

#side_5 option{

}

#side_5 textarea{
	border: 1px solid #BFC0C1;
	border-radius: 5px;
	height: 60px;
	margin-left: 15px;
	margin-top: 181px;
	position: absolute;
	resize: none;
	width: 188px;


}

#side_5 #enviar_consejo{
	background-image: url("../img/sidebar/enviar_consejo.jpg");
	display: block;
	height: 38px;
	margin-left: 125px;
	margin-top: 257px;
	position: absolute;
	width: 91px;

}

#side_6{
	background-image: url("../img/sidebar/social.png");
	background-repeat: no-repeat;
	display: block;
	height: 325px;
	margin: 0 auto;
	width: 234px;
	background-position: center top;
	margin-top: 12px;
}


.nav-pills > li > a {
	/*padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 2px;
	margin-bottom: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	*/
	margin-left: 4px;
	margin-top: 40px;
}
/*fin---sidebar*/




/**cesta**/
	/*clases*/
	.style_content_cesta{

		border: 2px solid #E3E3E3;
		background-color: #ffffff;



		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radiu:5px;

		border:2px solid #E3E3E3;
	}
	/*fin clases*/
#content_cesta{
	width: 950px !important;

	margin-left: auto;
	margin-right: auto;

}
#content_cesta .titulo{
	font-size: 17px;
	font-weight: bold;
	color: #53022B;
	text-align: center;
	width: 473px;
	height: 26px;
	background-image: url(../img/cesta/back_cesta.jpg);
	border-radius: 10px 10px 0 0;
	padding-top: 9px;
	font-family: arial !important;

}
#content_cesta .cesta{

	background-image: url(../img/cesta/back_cesta.jpg);
	box-shadow: -2px 1px 5px #52524B;
	padding:0 40px;



}


#content_cesta .cesta h2{

	color: #C4C4C4;

	font-size: 18px;
	font-weight: bold;
	/*height: 25px;*/
	margin: 0;
	text-shadow: 1px 1px 0 white;
	width: 870px;
	margin-bottom: 4px;
	line-height: normal;
	padding-top: 16px;
}
#content_cesta .cesta .my_cesta{
	/*width: 856px;*/
	/*height: 241px;
	background-color: #ffffff;

	/*border-radius: 10px !important;*/

	/*border-radius:5px;*/
	/*-moz-border-radius:5px;
	-webkit-border-radiu:5px;

	border:2px solid #E3E3E3;
*/
	padding: 0 5px;
	list-style: none;
	margin: 0;

}

#content_cesta .cesta .my_cesta .titulo_colum{

	font-size: 12px;
	font-weight: bold;
	font-family: verdana;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 5px;
}




#content_cesta .cesta .my_cesta .titulo_colum, #content_cesta .cesta .my_cesta  .elementos {
	border-bottom: 1px solid #EBEBEB;
	height: 30px;




}

#content_cesta .cesta .my_cesta .titulo_colum span, #content_cesta .cesta .my_cesta  .elementos span{
	float: left;
	padding-top: 5px;

}

#content_cesta .cesta .my_cesta .titulo_colum span{
	border-right: 1px solid #ffffff;

	}
#content_cesta .cesta .my_cesta .elementos span{
	border-right: 1px solid #EBEBEB;
	height: 25px;

}
#content_cesta .cesta .my_cesta .elementos .colum2{
	padding-left: 10px;
	width: 259px;
}

#content_cesta .cesta .my_cesta   .colum1 {
	width: 90px;
	text-align: center;
}
#content_cesta .cesta .my_cesta   .colum2{
	width: 269px;
}
#content_cesta .cesta .my_cesta   .colum3, #content_cesta .cesta .my_cesta   .colum4, #content_cesta .cesta .my_cesta   .colum5, #content_cesta .cesta .my_cesta   .colum6 {
	width: 100px;
}
#content_cesta .cesta .my_cesta   .colum7 {
	width: 90px;
	border-right: 0px !important;
	text-align: center;

}
#content_cesta .cesta .my_cesta   .colum7 a {
	text-decoration: underline;

}

#content_cesta .cesta .my_cesta    .colum6 {
	font-weight: bold;
}

#content_cesta .cesta .my_cesta    .colum3, #content_cesta .cesta .my_cesta    .colum4 {
	text-align: center;
}
#content_cesta .cesta .my_cesta  .elementos  .colum5, #content_cesta .cesta .my_cesta  .elementos  .colum6 {
	padding-right: 22px;
	text-align: right;
	width: 78px;
	font-size: 14px;
}

#content_cesta .cesta .my_cesta .elementos .colum3 select{
	width: 49px;
	height: 22px;
	font-size: 11px;
	font-family: verdana !important;
	margin-bottom: 0 !important;
}
#content_cesta .cesta .my_cesta .elementos .colum2, #content_cesta .cesta .my_cesta .elementos .colum1 {

	font-family: arial !important;
	font-size: 12px !important;
}



#content_cesta .cesta .my_cesta .totales {


	text-align: right;
	padding-right: 111px;
	font-family: arial;
	font-weight: bold;
	font-size: 12px;
	height: 26px;
	padding-top: 3px;

}
#content_cesta .cesta .my_cesta .totales.pago {

	border-top: 1px solid #EBEBEB;
	margin-top: 14px;
	font-size: 18px;
	color: #00535D;
	padding-top: 15px;
	padding-right: 105px !important;
	padding-bottom: 8px;

}
#content_cesta .cesta .my_cesta .totales.pago span{
	font-size: 18px;
	font-weight: bold;
}



#content_cesta .cesta .my_cesta .totales.top{

	margin-top: 19px;
}


#content_cesta .cesta .my_cesta .totales > span{
	display: inline-block;
	width: 75px;
	font-family: verdana !important;
	font-size: 14px;
	font-weight: normal;
	margin-left: 18px;
}

#content_cesta .cesta .my_cesta .totales .ovl_credits{
	background-image: url(../img/cesta/back_ovl_credits.png);
	background-repeat: no-repeat;
	width: 253px;
	height: 35px;
	position: absolute;
	padding-top: 16px;
	text-align: left;
	padding-left: 20px;

	font-size: 11px;
	color: #ffffff;
	text-align: center;
	padding-right: 46px;
	padding-left: 9px;
	margin-top: -26px;
	margin-left: 14px;

}
#content_cesta .cesta .my_cesta .totales .ovl_credits span{
	font-weight: bold;
	font-size: 14px;
}
#content_cesta .cesta .my_cesta .totales > img{
	margin-right: 6px;
	margin-top: -5px;
}



#content_cesta .cesta .my_cesta .totales span input{
	width: 59px;
	height: 22px;
	padding: 0;
	padding-right: 14px;
	margin-bottom: 0px !important;
	margin-left: 21px;
	text-align: center;
	font-size: 14px;
}
#content_cesta .cesta .my_cesta .totales span img{
	position: absolute;
	margin-left: 79px;
	margin-top: -3px;

}

#content_cesta .agregar_producto{
	font-family: arial;
	font-size: 12px;
	color: #859AA5;
	margin-top: 5px;
}

#content_cesta .agregar_producto br{
	height: 0px;
	padding: 0px;
	margin: 0px;
}
#content_cesta .agregar_producto input{
	background-image: url(../img/cesta/btn_agregar_p.jpg);
	background-repeat: no-repeat;
	width: 200px;
	height: 35px;
	border: 0 !important;
	margin-left: 448px;
	margin-top: -8px;
	position: absolute;

}
#content_cesta .agregar_producto input:hover{
	background-position:0 -37px;

}


#content_cesta .cesta #mis_regalos{
	list-style: none;
	margin: 0;

	font-size: 12px !important;

	padding-top: 18px;
}
#content_cesta .cesta #mis_regalos li:first-child{
	/*margin-top: 15px;*/
	padding: 0 18px;

}
#content_cesta .cesta #mis_regalos li:first-child p{
	color: #535353;
	font-size: 12px;
	font-family: arial;
}


#content_cesta .cesta #mis_regalos li:first-child p a img{
	margin-left: 5px;
	margin-top: -5px;
}

#content_cesta .cesta #mis_regalos li.select_producto{
	margin: 5px 0;
	display: none;

}
#content_cesta .cesta #mis_regalos li.detalle_regalos{

	display: none;

}
#content_cesta .cesta #mis_regalos li.select_producto > span{
	font-weight: bold;

}
#content_cesta .cesta #mis_regalos li.select_producto select{
	width: 232px;
	height: 26px;
	margin-bottom: 0 !important;
	padding: 0;
	margin-left: 5px;

}
#content_cesta .cesta #mis_regalos li.select_producto img{
	margin-left: 30px;
	margin-right: 8px;

}
#content_cesta .cesta #mis_regalos li #radio_regalo{
	/*margin-left: 17px;*/

}






#mis_datos_envio .important{
	font-family: arial;
	font-size: 12px;
	color: #ffffff;
	background-image: url(../img/cesta/info_datos_envio.jpg);
	background-repeat: no-repeat;
	padding-left: 30px;
	background-color: #D6D6D6;
	margin-top: 10px;
	margin-bottom: 13px;
}
#mis_datos_envio br{
	margin: 0;
	padding: 0;
	height: 0;
}
#mis_datos_envio .style_content_cesta{
	list-style: none;
	margin: 0;
	padding: 0;

}















#content_cesta .registro {
	text-align: left;
	font-size: 12px;
	font-family: arial;
	padding: 9px 11px;

}

#content_cesta .registro form {

	margin-bottom: 5px;
}

#content_cesta .registro span {

	font-size: 11px;
	font-family: verdana;
	color: #A9A9A9;
}



#content_cesta .registro span span{

	font-size: 11px;

	color: #E49D3E;
}
#content_cesta #mis_datos_envio .registro input[type=submit]{
	width: 139px;
	height: 38px;
	background-image: url(../img/cesta/btn_agregarfir.jpg);
	background-repeat: no-repeat;
	margin-left: 592px;
	border: 0 !important;
}
#content_cesta .registro #mis_datos_envio input[type=submit]:hover{
	background-position: 0 -38px;
}




#content_cesta .registro div {
	display: inline-block;
	text-align: right;
	padding-left: 40px;
	padding-right: 7px;
	margin-top: 10px;
	line-height: 29px;
	margin-bottom: 8px;
}

#content_cesta .registro div input {

	width: 225px !important;
	height: 15px !important;
	padding: 0;
	margin-bottom: 0px;

}

#content_cesta .registro div select{

	width: 225px !important;
	height: 22px !important;
	padding: 0;
	margin-bottom: 1px;

}









#content_cesta .cesta .registrados {
	padding: 0 4px;
	padding-bottom: 23px;
}

#mis_datos_envio .style_content_cesta li.registrados .titulo_colum, #mis_datos_envio .style_content_cesta li.registrados .elementos {
	display: block;
}

#mis_datos_envio .style_content_cesta li.registrados .colum1{
	width: 100px;

}
#mis_datos_envio .style_content_cesta li.registrados .elementos .colum1{
	text-align: left;

}
#mis_datos_envio .style_content_cesta li.registrados .elementos .colum1 input{
	margin-left: 7px;
	margin-right: 12px;
	margin-top: -1px;

}



#mis_datos_envio .style_content_cesta li.registrados .colum2{
	width: 243px;
}
#mis_datos_envio .style_content_cesta li.registrados .elementos .colum2{
	width: 233px !important;
}

#mis_datos_envio .style_content_cesta li.registrados .colum3{
	width: 76px;
}
#mis_datos_envio .style_content_cesta li.registrados .colum4{
	width: 125px;
}
#mis_datos_envio .style_content_cesta li.registrados .colum5, #mis_datos_envio .style_content_cesta li.registrados .colum6{
	width: 100px !important;
	padding-right: 0 !important;
	text-align: center !important;
	font-size: 13px !important;
}
#mis_datos_envio .style_content_cesta li.registrados .elementos .colum6{
	font-weight: normal;
}
#mis_datos_envio .style_content_cesta li.registrados .colum7{
	width: 74px;
}



#mis_datos_envio .style_content_cesta li.registrados .editar{
	background-image: url(../img/cesta/btn_editar.jpg);
	margin-left: 585px;
	margin-top: 13px;


}

#mis_datos_envio .style_content_cesta li.registrados .agregar_nueva{
	background-image: url(../img/cesta/btn_agregar_nueva.jpg);


}
#mis_datos_envio .style_content_cesta li.registrados .editar, #mis_datos_envio .style_content_cesta li.registrados .agregar_nueva{

	display: inline-block;
	width: 112px;
	height: 38px;
	background-repeat: no-repeat;
}

#mis_datos_envio .style_content_cesta li.registrados .editar:hover, #mis_datos_envio .style_content_cesta li.registrados .agregar_nueva:hover{
	background-position: 0 -38px;
}

/*fin cesta*/


/*detalle_producto*/
#detalles_productos_ovl .producto{
        width:727px;
        /*border-radius: 3px 3px 3px 3px;*/
        box-shadow: 1px 1px 6px #555;
		border: 1px solid #C0C1C2;
		margin: 0 auto;
}
#detalles_productos_ovl .producto >ul{
	height: 307px;
}



#detalles_productos_ovl .producto .descripcion{
     font-size: 18px;
     font-weight: bold;
     display:block;
     padding-left: 14px;
    padding-right: 14px;
    padding-top: 9px;
    border-bottom: 2px solid #CBCBCB;
    height:64px;
    font-family:arial;
    line-height: 24px;
    border-radius:  3px  3px 0 0;
}

#detalles_productos_ovl .producto .descripcion span{
    font-weight: bold;
    font-size: 24px;
    margin-right:2px;

}

#detalles_productos_ovl .producto #img_det_pro{
    width:440px !important;
    height:307px !important;
	border-right: 2px solid #BFBFBF;

}
#detalles_productos_ovl .producto ul{
    list-style:none;

    margin:0;
    padding:0;

}



#detalles_productos_ovl .producto > ul > li{
	float: left;

}
#detalles_productos_ovl .producto > ul > li > ul{
	padding-left: 24px;
	padding-top: 16px;

}

#detalles_productos_ovl .producto > ul > li > ul > li:first-child{
    width:250px;
    height:40px;
	padding-top: 20px;
	padding-left: 14px;
	margin-left: -2px;
	margin-right: -1px;
	background-repeat:no-repeat;

}
#detalles_productos_ovl .producto.offers > ul > li > ul > li:first-child{
    background-image:url(../img/offers/cont_precio.png);
}
#detalles_productos_ovl .producto.outlet > ul > li > ul > li:first-child{
	background-image:url(../img/outlet/cont_precio.png);
}
#detalles_productos_ovl .producto.travel > ul > li > ul > li:first-child{
	background-image:url(../img/travel/cont_precio.png);
}
#detalles_productos_ovl .producto.coaching > ul > li > ul > li:first-child{
	background-image:url(../img/coaching/cont_precio.png);
}



#detalles_productos_ovl .producto > ul > li > ul > li:first-child a{
    width:133px;
    height:42px;
    background-repeat:no-repeat;
    float:right;

	margin-top: -11px;


}

#detalles_productos_ovl .producto > ul > li > ul > li:first-child .precio{
	font-size: 36px;

}
#detalles_productos_ovl .producto > ul > li > ul > li:first-child .precio .precio2{
	position: absolute;
	margin-left: -2px;
	margin-top: -1px;

}

#detalles_productos_ovl .producto ul li ul li:first-child span .signo{
	font-size: 24px;
}

#detalles_productos_ovl .producto.offers ul li ul li:first-child .precio2, #detalles_productos_ovl .producto.travel ul li ul li:first-child .precio2, #detalles_productos_ovl .producto.coaching ul li ul li:first-child .precio2{
	color: #680034;
}
#detalles_productos_ovl .producto.outlet ul li ul li:first-child .precio2{
	color: #ffffff;
}




#detalles_productos_ovl .producto.offers ul li ul li:first-child .precio{
	color: #FFE4C2;
}
#detalles_productos_ovl .producto.outlet ul li ul li:first-child .precio{
	color: #CB6F3B;
}
#detalles_productos_ovl .producto.coaching ul li ul li:first-child .precio{
	color: #AFE3E0;
}

#detalles_productos_ovl .producto.travel ul li ul li:first-child .precio{
	color: #BDE7F3;
}

#detalles_productos_ovl .producto.offers ul li ul li:first-child a, #detalles_productos_ovl .producto.travel ul li ul li:first-child a, #detalles_productos_ovl .producto.coaching ul li ul li:first-child a {
    background-image:url(../img/offers/btn_comprar.png);

}
#detalles_productos_ovl .producto.outlet ul li ul li:first-child a{
	background-image:url(../img/outlet/btn_comprar.png);

}


#detalles_productos_ovl .producto ul li ul li:first-child a:hover{
    background-position:0 -42px;
}


#detalles_productos_ovl .producto.offers .descripcion {

     background-color:#FF9F23;
     color:#670033;
}

#detalles_productos_ovl .producto.outlet .descripcion {
	background-color:#9D456F;
	color:#FAC581;
	height: 37px !important;
}


#detalles_productos_ovl .producto.travel .descripcion, #detalles_productos_ovl .producto.coaching .descripcion {

	color:#ffffff;
}
#detalles_productos_ovl .producto.travel .descripcion {
	background-color:#59C2E1;

}

#detalles_productos_ovl .producto.coaching .descripcion {
	background-color:#0DA9A2;

}



#detalles_productos_ovl .producto.offers .descripcion span, #detalles_productos_ovl .producto.outlet .descripcion span{
     color:#ffffff;
}
#detalles_productos_ovl .producto.travel .descripcion span, #detalles_productos_ovl .producto.coaching .descripcion span{
	color:#4F0F2F;
}





#detalles_productos_ovl .producto ul li ul li.mostrar_precio{
	height: 42px;
	margin-top: 8px;
}
#detalles_productos_ovl .producto ul li ul li.mostrar_precio > span{
	float: left;
	font-size: 12px;
	font-family: arial;
	font-weight: bold;
	color: #757373 ;
	width: 78px;
	text-align: center;
	border-left: 1px solid #DFDFE0;
	padding-bottom: 2px;
}


#detalles_productos_ovl .producto ul li ul li.mostrar_precio > span:first-child{
	border-left:0 !important;
}


#detalles_productos_ovl .producto ul li ul li.mostrar_precio span.n2{
	color: #4E4D4D !important;
}
#detalles_productos_ovl .producto ul li ul li.mostrar_precio span span{
	display: block;
	float: none;
	font-size: 16px;
	margin-top: 4px;


}
#tiempo_detalle{
	width: 208px;
	height: 24px;
	background-image: url(../img/tiempo_detalle_producto.jpg);
	background-repeat: no-repeat;
	padding-left: 24px;
	text-align: center;
	padding-top: 9px;
	margin-top: 10px;
	margin-bottom: 10px;
}


.producto.offers #tiempo_detalle{
	color: #E4860C;
}
.producto.outlet #tiempo_detalle{
	color: #820845;
}
.producto.travel #tiempo_detalle{
	color: #29A7CC;
}
.producto.coaching #tiempo_detalle{
	color: #228681;
}

#tiempo_detalle > span{
	font-size: 18px;
	font-weight: bold;
	font-family: arial;
	padding: 0 4px;
}


#tiempo_detalle span span{
	font-size: 14px;

}

#regalo_content{
	color: #721142;
}


#regalo_content > ul {
	height: 64px;
}
#regalo_content > ul li{
	float: left;
}
#regalo_content > ul li:first-child{
	line-height: 28px;
	padding-top: 4px;
}
#regalo_content > ul li select{

	margin-bottom: 0;
}



#regalo_content br{

	height: 0px;
	margin: 0;
	padding: 0;

}
#regalo_content select{
	width: 168px;
	height: 22px;
	font-size: 10px;
	color: #3F3F3F;
	font-family: verdana;
	margin-bottom: 8px;
	margin-top: 6px;

}

#regalo_content span{
	display: block;
	height: 20px;
	margin-top: 6px;
}
#regalo_content span a{
	float: left;
	margin-right: 6px;
}

#regalo_content span .twiter {
	background-image: url(../img/twiter.jpg);
}
#regalo_content span .mail {
	background-image: url(../img/mail.jpg);
}
#regalo_content span .twiter, #regalo_content span .mail {
	width: 16px;
	height: 16px;
}

#regalo_content span .me_gusta {
	width: 46px;
	height: 20px;
	background-image: url(../img/me_gusta.jpg);
	margin-top: -2px;
}

#detalles_productos_ovl > ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;
	margin-top: 15px;
}
#detalles_productos_ovl > ul > li{
	float: left;
}
#detalles_productos_ovl > ul li:first-child span span{
	color: #680034;
	font-size: 14px;
	font-family: tahoma;
	font-weight: bold;
	display: block;
}


#detalles_productos_ovl > ul > li:first-child{
	width: 231px;
	padding: 0 10px;


}

#detalles_productos_ovl > ul > li:first-child > span{
	height: 116px;
	display: block;

}
#detalles_productos_ovl > ul > li:first-child > span a{
	color:#4E4D4D;
	text-decoration: underline;


}

#detalles_productos_ovl > ul > li:first-child img{
	width: 229px;
	height: 114px;
	border: 1px solid #959494;
	border-bottom: 2px solid;
	margin-bottom: 10px;

}


#detalles_productos_ovl > ul .content_descripciones  .tabs_detalle{
	list-style: none;
	padding: 0;
	margin: 0;
	height: 40px;
	background-color: #EEEEF2;
	display: table;
	border-top: 1px solid #CBCCCD;
	border-left: 1px solid #CBCCCD;
	border-right: 1px solid #CBCCCD;
}
#detalles_productos_ovl > ul .content_descripciones .tabs_detalle > li{
	float: left;
	padding-top: 12px;
	height: 28px;

}

#detalles_productos_ovl > ul .content_descripciones .tabs_detalle > li.active{
	background-color: #ffffff;
	border-right: 1px solid #CECED0;
	border-left: 1px solid #CECED0;
	padding-bottom: 1px;
	margin-bottom: -1px;


}

#detalles_productos_ovl > ul .content_descripciones .tabs_detalle > li.active a{
	font-weight: bold;
	border: 0 !important;

}





#detalles_productos_ovl > ul .content_descripciones .tabs_detalle > li a{
	font-family: tahoma;
	color: #680034;
	font-size: 14px;
	font-weight: 500;
	padding: 7px 20px;
	border-left: 1px solid #CBCCCD;
	text-decoration: none;
}




#detalles_productos_ovl > ul .content_descripciones .tabs_detalle > li:first-child a{

	border-left:0 !important;
}



#detalles_productos_ovl > ul  .contenido{
	font-size: 12px;
	font-family: arial;
	color: #4E4D4D;

}
#detalles_productos_ovl > ul .content_descripciones .contenido.active{

	display: block;

}

#detalles_productos_ovl > ul .content_descripciones .contenido{

	width: 447px;

	border: 1px solid #C0C1C2;

	padding: 12px 19px;


}
#detalles_productos_ovl > ul .content_descripciones .contenido h2{

	font-size: 12px;
	font-family: arial !important;
	color: #680034;
	line-height: 20px;
	margin-bottom: 0;
}

#detalles_productos_ovl > ul .content_descripciones div{
	display: none;
}
#detalles_productos_ovl > ul .content_descripciones .contenido ul{


	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 4px;
}






/*fin detalle_producto*/



/*footer*/

#footer ul{
	margin: 0;
	list-style: none;
}
	#footer > ul > li:first-child{
		background-image: url(../img/footer_ovalado.png);
		background-repeat: no-repeat;
		height: 412px;
		background-position: 50% 0;
		border-bottom: 1px solid #CDCDCD;
	}






	#footer ul > li:first-child ul h2{
		font-size: 16px;
		color: #444444;
		font-family: verdana;
		background-image: url(../img/border_noticias02.jpg);
		background-position: 0 100%;
		background-repeat: repeat-x;
		margin-bottom: 0 ;
	}




	#footer > ul > li:first-child > ul{
		width: 910px;
		margin: 0 auto;
		padding: 0;
		list-style: none;
		width: 910px;
		height: 332px;
		list-style: none;
		padding-top: 38px;
		padding-left: 41px;
		padding-right: 41px;
	}

	#footer > ul > li:first-child > ul > li:first-child{

		width: 562px;
		margin-right: 54px;

	}

	#footer > ul > li:first-child > ul > li.ultimo{
		width: 294px !important;
	}

	#footer ul li.row02{
		height: 224px;
		background-image: url(../img/footer_row02.jpg);

	}
	#footer ul li.row03{
		height: 26px;
		background-color: #878787;

	}

#footer > ul > li:first-child > ul > li{
	float: left;


}
#footer > ul > li:first-child > ul > li > span {
	display: block;
	font-family: arial;
	font-size: 12px !important;
	color:#444444;
	line-height: 15px;
	padding-top: 12px;
}
	#footer > ul > li:first-child > ul > li:first-child span {

		height: 70px;
		background-image: url(../img/border_noticias01.jpg);
		background-repeat: repeat-x;
		background-position: 0 100%;


	}
#footer > ul > li:first-child > ul > li:first-child span img {
		float: left;
		margin-right: 8px;
		margin-top: 2px;
}

	#footer > ul > li:first-child > ul > li:first-child h2{
		background-image: url(../img/border_noticias01.jpg) !important;


	}

	#footer > ul > li:first-child > ul > li a{
		text-decoration: none;
	}
	#footer > ul > li:first-child > ul > li #btn_visita_blog{
		display: block;
		background-image: url(../img/btn_visita_blog.png);
		width: 175px;
		height: 39px;
	}
	#footer > ul > li:first-child > ul > li #btn_visita_blog:hover{
		background-position: 0 -39px;
	}

	#footer > ul > li:first-child > ul > li.ultimo #btn_contactanos{
		display: block;
		background-image: url(../img/btn_contactanos.png);
		width: 139px;
		height: 37px;
		margin-bottom: 23px;

	}


	#footer > ul > li:first-child > ul > li.ultimo  #btn_contactanos:hover{
		background-position: 0 -37px;
	}
	#footer > ul > li:first-child > ul > li.ultimo  .btn_footer_redes{
		margin-top: 13px;
		margin-bottom: 5px;
	}
	#footer > ul > li:first-child > ul > li.ultimo  #btn_siguenos_twiter{
		position: absolute;
		margin-top: -21px;
		margin-left: 82px;
	 }


	#footer > ul > li:first-child > ul > li:first-child > a, #footer > ul > li:first-child > ul > li.ultimo > a{
		margin-top: 12px;
		margin-left: -2px;
	}


	#footer ul li.row02 ul {
		list-style: none;
		width: 992px;
		margin: 0 auto;
		height: 120px;

		padding-top: 30px;
		margin-bottom: 23px;

	}
	#footer ul li.row02 ul li{
		font-family: verdana;
		display: table;
		/*width: 247px;*/
		min-width: 150px !important;
		float: left;
		padding: 0 35px;
	}

	#footer ul li.row02 h2{
		font-size: 18px;
		font-family: verdana;
		color:#868686;
		background-image: url(../img/border_row02.jpg);
		background-position: 0 100%;
		background-repeat: repeat-x;
		margin-bottom: 0;
		font-weight: 500;

	}
	#footer ul li.row02 p{
		padding: 0;
		margin: 0;
		text-align: center;
	}

	#footer ul li.row02 ul a{
		display: block;
		font-size: 11px;

		color:#868686;

		background-image: url(../img/border_row02.jpg);
		background-position: 0 100%;
		background-repeat: repeat-x;
		padding-bottom: 8px;
		padding-right: 10px;

	}
#footer ul li.row03{
	font-family: verdana;
	font-size: 10px;
	text-align: center;
	color:#ffffff;
	padding-top: 10px;
}
#footer ul li.row03 a{

	color:#ffffff;
	text-decoration: underline;
}


/*fin footer*/



/* Extras Global */

.transfer-effect
{
	border: 3px dotted #ffa800;
	padding: 0;
	margin: 0;
}